{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% block title %}Chapter: {{ object.name }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>{{ object.name }} in the {{ object.region }} Region</h2>
      {% if object.name %}
        <p>Current chapter balance: ${{ object.balance }} as of {{ object.balance_date }}</p>
        <p>Chapter email: {{ object.email }}</p>
        <p>Chapter website: {{ object.website }}</p>
        <p>Chapter Facebook: {{ object.facebook }}</p>
      {% endif %}
    <h2>Current Officers:</h2>
      {% render_table table %}
    </div>
  </div>
</div>
{% endblock content %}

