{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% block title %}Chapter: {{ object.name }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>{{ object.name }} in the {{ object.region }} Region</h2>
      {% if object.name %}
        <table class="table">
          <tr>
            <th>School</th>
            <td>{{ object.school }}</td>
          </tr>
          <tr>
            <th>Regional Director Email</th>
            <td>{{ object.region.email }}</td>
          </tr>
        {% if request.user.current_chapter == object %}
          <tr>
            <th>Current balance</th>
            <td>On {{ object.balance_date }} your chapter had a balance of ${{ object.balance }}, however, this may not be your current balance.</td>
            <td>For balance questions/invoices contact accounting@thetatau.org</td>
          </tr>
        {% endif %}
          <tr>
            <th>Tax ID</th>
            {% if object.tax %}
              <td>{{ object.tax }}</td>
            {% else %}
              <td colspan="2">Your chapter does not have a group tax ID.
                If your chapter would like to become part of that group, please complete <a href="http://thetatau.org/Websites/thetatauhq/images/Chapter_Group_Exemption_Application.docx">
                  this form</a>.
                Please contact the Central Office if you have any questions.</td>
            {% endif %}
          </tr>
        </table>
      {% endif %}
    {% if request.user.current_chapter == object %}
    <h3 id="audit">Chapter Audit:</h3>
      <p>An audit should be conducted by the chapter officers at the beginning of fall semester, in January, and end of spring semester.
      Contact <a href="{% url 'chapters:detail' object.slug %}#officers">current officers</a> with any questions or concerns about the information below.<br>
      Only your chapter members and alumni can see this information.</p>
      {% render_table audit_table %}
    {% endif %}
    <h3>Update Chapter Information:</h3>
    <p>Only can be updated by chapter officers.</p>
    <form class="chapter" method="POST">
      {% csrf_token %}
      <fieldset
        {% if not request.is_officer or request.user.current_chapter != object %}
          disabled
        {% endif %}
      >
        {{ forms.chapter.media }}
        {{ forms.chapter|crispy }}
      </fieldset>
    {% if request.is_officer and request.user.current_chapter == object %}
      <button class="btn btn-primary" name='action' value='chapter' type="submit">Update Chapter Information</button>
    {% endif %}
    </form>
      <br>
    <h3>Chapter Advisors:</h3>
    <p>We occasionally need to speak with someone on your campus and it is helpful
          to know who your advisor or Fraternity & Student Life staffer is so that we may direct our questions to them.</p>
    <h5>This form is only for <b>EXTERNAL</b> advisors.</h5>
      Alumni advisors should be submitted with an <a href="{% url 'forms:officer' %}"> officer election report.</a>
    <form class="facutly" method="POST">
      {% csrf_token %}
    <fieldset
        {% if not request.is_officer or request.user.current_chapter != object %}
          disabled
        {% endif %}
      >
      <table{% if form_id %} id="{{ form_id }}_table"{% endif%} class="table table-striped table-sm">
        <thead>
            {{ forms.faculty.media }}
            <div>{{ forms.faculty.management_form|crispy }}</div>
            {% if forms.faculty.readonly and not forms.faculty.queryset.exists %}
            {% else %}
                <tr>
                    {% for field in forms.faculty.forms.0 %}
                        {% if field.label and not field.is_hidden and field.label != "Delete" %}
                            <th for="{{ field.auto_id }}" class="col-form-label {% if field.field.required %}requiredField{% endif %}">
                                {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                            </th>
                        {% endif %}
                    {% endfor %}
                <th>Add / <br>Remove</th>
                </tr>
            {% endif %}
        </thead>
        <tbody>
            {% for form in forms.faculty %}
                  <tr class="row_form">
                  <div class="input-group">
                      {% for field in form %}
                        {% if field.label == "Delete" %}
                          <td class="hidden" style="display: none;">
                              {{ field }}
                          </td>
                        {% else %}
                          {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False form_show_errors=True%}
                        {% endif %}
                      {% endfor %}
                  <td>
                  <div class="input-group-append">
                      <button class="btn btn-success add-row_form">+</button>
                  </div>
                  </td>
                  </div>
                  </tr>
            {% endfor %}
        </tbody>
    </table>
    </fieldset>
    {% if request.is_officer and request.user.current_chapter == object %}
      <button class="btn btn-primary" name='action' value='faculty' type="submit">Update Advisors</button>
    {% endif %}
    </form>
      <br>
    <h3>Approved Majors:</h3>
      <p>If your chapter would like to add majors,
        please follow the process outlined under "Curriculum Requirements" in the <a href="http://thetatau.org/policies">Policy and Procedures Manual</a></p>
      {% render_table majors %}
    <br>
    <h3 id="officers">Current Officers:</h3>
      <p>Missing officers? Any officer listed below can submit an <a href="{% url 'forms:officer' %}"> officer election report.</a>
      <button class="clipboard button btn btn-primary" style="float: right;"
            data-clipboard-text="{{ email_list }}">
      Copy emails to clipboard
    </button>
      </p>
      {% render_table table %}
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
{% endblock content %}
{% block javascript %}
{{ block.super }}
<script src="{% static 'js/dynamic_formset.js' %}"></script>
{% endblock %}
