{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Service Hours Update{% endblock %}

{% block content %}
  <h1>Member Service Hours</h1>
  <div class="d-flex justify-content-center">
    <form method="get" class="form-inline form-search pull-right">
      {% csrf_token %}
      {% crispy filter.form filter.form.helper %}
    </form>
  </div>
  <form method="post">
  {% csrf_token %}
  <input type="hidden" id="chapter" name="chapter" value="{{ user.current_chapter }}">
  {{ formset.management_form }}
    <table>
    <tr>
        {% for header in table_headers %}
          <th>{{ header }}</th>
        {% endfor %}
    </tr>
        {% for form in formset %}
          <tr>
            {% for field in form %}
              <td>{{ field|as_crispy_field }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
    </table>
  <input class="btn btn-primary" type="submit" value="Submit" />
</form>
{% endblock content %}

