{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}
{% load render_table from django_tables2 %}
{% block title %}Member: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>{{ object.name }}</h2>
      {% if object.name %}
        <table class="table">
          <tr>
            <td>Username</td>
            <td>{{ object.username }}</td>
          </tr>
          <tr>
            <td>Chapter</td>
            <td>{{ object.chapter }}</td>
          </tr>
          <tr>
            <td>Current Status</td>
            <td>{{ object.get_current_status.status.title }}</td>
          </tr>
          <tr>
            <td>Current Chapter Officer</td>
            <td>{{ object.role.role|title }}</td>
          </tr>
        </table>
        <h3>Current/Previous Roles:</h3>
      {% for role in object.roles.all %}
        <p>{{ role }} {{ role.start }} {{ role.end }}</p>
      {% endfor %}
      {% endif %}
    </div>
  </div>
<h3 id="user">Update Member Information:</h3>
{% if object == request.user %}
<!-- Action buttons -->
<div class="row">
  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">Update E-Mail</a>
    <a class="btn btn-warning" href="{% url 'password_reset' %}" role="button">Change Password</a>
    <br><a class="btn btn-warning" href="{% url 'two-factor-setup' %}" role="button">Setup Two Factor Auth</a>
    <a class="btn btn-warning" href="{% url 'two-factor-backup-tokens' %}" role="button">Backup Two Factor Auth</a>
    <a class="btn btn-danger" href="{% url 'two-factor-remove' %}" role="button">Remove Two Factor Auth</a>
    <br><a class="btn btn-danger" href="{% url 'forms:resignation' %}" role="button">Resign Membership</a>
  </div>
</div>
<!-- End Action buttons -->
{% endif %}
<form class="user" method="POST">
    {% csrf_token %}
    {{ forms.user.management_form|crispy }}
    {{ forms.user.media }}
    {{ forms.user|crispy }}
    <button class="btn btn-primary" name='action' value='user' type="submit">Update Member Information</button>
</form>
  <h3 id="demo">Update Member Demographics:</h3>
  <h4>Why are we asking for these data?</h4>
  <p>Theta Tau is committed to diversity, equity,
  and inclusion. As part of that commitment,
  we want to understand who our members are so that we
  can gauge how diverse we are.</p>
  <h4>What will Theta Tau do with these data?</h4>
  <p>Our target right now is for our chapters to be at
  least as diverse (in terms of gender and race
  identities) as the population of engineers that they
  draw from. These data will be used to inform chapters
  of how they compare. These data will also be used to
  study regional and national trends.</p>
  <p>Theta Tau will not associate these data with
  individual member records; e.g.,
  when a member is looked up in the database,
  it will not say “John Doe, black gay male.”
  These data will only be used and reviewed in the aggregate.
  These data will also never be broken down to the
  point where a casual observer would be able to
  identify individual members from the data
  (we will never share data about an individual pledge
  class, or a very small chapter.)</p>
  <p>We will never use these data to target
  communications or programming advertisements to you.</p>
  <p><b>Only you can see answers below, otherwise data is viewed in aggregate.</b></p>
  <form class="demo" method="POST">
    {% csrf_token %}
    {{ forms.demo.management_form|crispy }}
    {{ forms.demo.media }}
    {{ forms.demo|crispy }}
    <button class="btn btn-primary" name='action' value='demo' type="submit">Update Member Demographics</button>
  </form>
<br>
<h4 id="member_gpaservice">Update Member GPA / Service Hours:</h4>
  <table>
    <tr>
        <th></th>
        {% for header in table_headers %}
          <th>{{ header }}</th>
        {% endfor %}
        <th></th>
    </tr>
        <tr  style="vertical-align:top">
          <form class="gpa" method="POST">
          {% csrf_token %}
          <div>{{ forms.gpa.management_form|crispy }}</div>
          <input type="hidden" id="chapter" name="chapter" value="{{ user.chapter }}">
          <th>GPA</th>
            {% for field in forms.gpa %}
              <td>{{ field|as_crispy_field }}</td>
            {% endfor %}
            <td>
              <button class="btn btn-primary" name='action' value='gpa' type="submit">Update</button>
            </td>
          </form>
        </tr>
        <tr style="vertical-align:top">
          <form class="service" method="POST">
          {% csrf_token %}
          <div>{{ forms.service.management_form|crispy }}</div>
          <input type="hidden" id="chapter" name="chapter" value="{{ user.chapter }}">
          <th>Service</th>
            {% for field in forms.service %}
              <td>{{ field|as_crispy_field }}</td>
            {% endfor %}
            <td>
              <button class="btn btn-primary"  name='action' value='service' type="submit">Update</button>
            </td>
          </form>
        </tr>
    </table>
  <h4 id="member_orgs">Update Member External Organizations:</h4>
{{ forms.orgs.media }}
  <form action="" method="post">
    {% csrf_token %}
    <div>{{ forms.orgs.management_form|crispy }}</div>
  <table{% if form_id %} id="{{ form_id }}_table"{% endif%} class="table table-striped table-sm">
        <thead>
            {% if forms.orgs.readonly and not forms.orgs.queryset.exists %}
            {% else %}
                <tr>
                    {% for field in forms.orgs.forms.0 %}
                        {% if field.label and not field.is_hidden and field.label != "Delete" %}
                            <th for="{{ field.auto_id }}" class="col-form-label {% if field.field.required %}requiredField{% endif %}">
                                {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                            </th>
                        {% endif %}
                    {% endfor %}
                <th>Add / <br>Remove</th>
                </tr>
            {% endif %}
        </thead>
        <tbody>
            {% for form in forms.orgs %}
                  <tr class="row_form">
                  <div class="input-group">
                      {% for field in form %}
                        {% if field.label == "Delete" %}
                          <td class="hidden" style="display: none;">
                              {{ field }}
                          </td>
                        {% elif field.label == "Start Date" or field.label == "End Date"%}
                          <td>
                          <div style="position: relative">
                            {% crispy_field field %}
                            {% if field.errors %}
                              {% for error in field.errors %}
                                <strong style="color:red">{{ error }}</strong>
                              {% endfor %}
                            {% endif %}
                          </div>
                          </td>
                        {% else %}
                          {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False form_show_errors=True%}
                        {% endif %}
                      {% endfor %}
                  <td>
                  <div class="input-group-append">
                      <button class="btn btn-success add-row_form">+</button>
                  </div>
                  </td>
                  </div>
                  </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-primary"  name='action' value='orgs' type="submit">Update Orgs</button>
  </form>
<br>
<h4 id="submissions">Previous Member Submissions:</h4>
{% render_table submission_table %}
</div>
{% endblock content %}
{% block javascript %}
{{ block.super }}
<script src="{% static 'js/dynamic_formset.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    var selected_values = $('input[name="gender"]:checked');
    var set = false;
    selected_values.each(function () {
      if ($(this).val() === "not_listed") {
        $("#div_id_gender_write").show();
        set = true;
      }
    })
    if (set === false) {
      $("#div_id_gender_write").hide();
    }
    var selected_values = $('input[name="sexual"]:checked');
    var set = false;
    selected_values.each(function () {
      if ($(this).val() === "not_listed") {
        $("#div_id_sexual_write").show();
        set = true;
      }
    })
    if (set === false) {
      $("#div_id_sexual_write").hide();
    }
    var selected_values = $('input[name="racial"]:checked');
    var set = false;
    selected_values.each(function () {
      if ($(this).val() === "not_listed") {
        $("#div_id_racial_write").show();
        set = true;
      }
    })
    if (set === false) {
      $("#div_id_racial_write").hide();
    }
    var selected_values = $('input[name="ability"]:checked');
    var set = false;
    selected_values.each(function () {
      if ($(this).val() === "not_listed") {
        $("#div_id_ability_write").show();
        set = true;
      }
    })
    if (set === false) {
      $("#div_id_ability_write").hide();
    }
    $('input[name="gender"]').on('change', function () {
      var selected_values = $('input[name="gender"]:checked');
      var set = false;
      selected_values.each(function () {
        if ($(this).val() === "not_listed") {
          $("#div_id_gender_write").show();
          set = true;
        }
      })
      if (set === false) {
        $("#div_id_gender_write").hide();
      }
    });
    $('input[name="sexual"]').on('change', function () {
      var selected_values = $('input[name="sexual"]:checked');
      var set = false;
      selected_values.each(function () {
        if ($(this).val() === "not_listed") {
          $("#div_id_sexual_write").show();
          set = true;
        }
      })
      if (set === false) {
        $("#div_id_sexual_write").hide();
      }
    });
    $('input[name="racial"]').on('change', function () {
      var selected_values = $('input[name="racial"]:checked');
      var set = false;
      selected_values.each(function(){
        if ($(this).val() === "not_listed") {
          $("#div_id_racial_write").show();
          set = true;
        }
      })
      if (set === false){
        $("#div_id_racial_write").hide();
      }
    });
    $('input[name="ability"]').on('change', function () {
      var selected_values = $('input[name="ability"]:checked');
      var set = false;
      selected_values.each(function () {
        if ($(this).val() === "not_listed") {
          $("#div_id_ability_write").show();
          set = true;
        }
      })
      if (set === false) {
        $("#div_id_ability_write").hide();
      }
    });
  });
</script>
{% endblock %}
