{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <table class="table">
          <tr>
            <td>Name</td>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <td>Chapter</td>
            <td>{{ object.chapter }}</td>
          </tr>
          <tr>
            <td>Major</td>
            <td>{{ object.major }}</td>
          </tr>
          <tr>
            <td>Graduation Year</td>
            <td>{{ object.graduation_year }}</td>
          </tr>
          <tr>
            <td>Phone</td>
            <td>{{ object.phone_number }}</td>
          </tr>
          <tr>
            <td>Address</td>
            <td>{{ object.address }}</td>
          </tr>
          <tr>
            <td>Current Status</td>
            <td>{{ object.get_current_status.status.title }}</td>
          </tr>
          <tr>
            <td>Current Role</td>
            <td>{{ object.get_current_role.role }}</td>
          </tr>
          <tr>
            <td>Current Chapter Officer</td>
            <td>{{ object.is_chapter_officer }}</td>
          </tr>
        </table>
      <br>
        <h3>Current/Previous Roles:</h3>
      {% for role in object.roles.all %}
        <p>{{ role }} {{ role.start }} {{ role.end }}</p>
      {% endfor %}
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Update My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">Update E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

