{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Member: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>{{ object.name }}</h2>
      {% if object.name %}
        <table class="table">
          <tr>
            <td>Username</td>
            <td>{{ object.username }}</td>
          </tr>
          <tr>
            <td>Chapter</td>
            <td>{{ object.chapter }}</td>
          </tr>
          <tr>
            <td>Current Status</td>
            <td>{{ object.get_current_status.status.title }}</td>
          </tr>
          <tr>
            <td>Current Chapter Officer</td>
            <td>{{ object.is_chapter_officer }}</td>
          </tr>
        </table>
        <h3>Current/Previous Roles:</h3>
      {% for role in object.roles.all %}
        <p>{{ role }} {{ role.start }} {{ role.end }}</p>
      {% endfor %}
      {% endif %}
    </div>
  </div>
<h3>Update Member Information:</h3>
{% if object == request.user %}
<!-- Action buttons -->
<div class="row">
  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">Update E-Mail</a>
  </div>
</div>
<!-- End Action buttons -->
{% endif %}
<form class="user" method="POST">
    {% csrf_token %}
    {{ forms.user|crispy }}
    <button name='action' value='user' type="submit">Update Member</button>
</form>
<h4>Update Member GPA:</h4>
<form class="gpa" method="POST">
    {% csrf_token %}
    <input type="hidden" id="chapter" name="chapter" value="{{ user.chapter }}">
  <table>
    <tr>
        {% for header in table_headers %}
          <th>{{ header }}</th>
        {% endfor %}
    </tr>
          <tr>
            {% for field in forms.gpa %}
              <td>{{ field|as_crispy_field }}</td>
            {% endfor %}
          </tr>
    </table>
    <button name='action' value='gpa' type="submit">Update GPA</button>
</form>

</div>
{% endblock content %}

