{% extends "base.html" %}
{% load static %}

{% block title %}Region: {{ object.name }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.name }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
        <p>{{ object.description }}</p>
        <p>{{ object.section }}</p>
        <p>{{ object.points }}</p>
        <p>{{ object.formula }}</p>
        <p>{{ object.slug }}</p>
        <p>{{ object.type }}</p>
        <p>{{ object.base_points }}</p>
        <p>{{ object.attendance_multiplier }}</p>
        <p>{{ object.member_add }}</p>
        <p>{{ object.special }}</p>
      {% endif %}
      {% for event in object.event.all %}
        <a href="{% url 'events:detail' event.pk %}" class="list-group-item">
          <p>{{ event.name }}</p>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}

