{% extends "base.html" %}
{% block content %}
<h1>
    Consumer Disclosure Regarding Conducting Business Electronically,
    Receiving Electronic Notices and Disclosures, and Signing Documents Electronically
</h1>
<p>
    Please read the following information,
    by proceeding forward and signing this document you are agreeing that you
    have reviewed the following consumer disclosure information and consent to
    transact business using electronic communications, to receive notices and
    disclosures electronically, and to utilize electronic signatures in lieu of using paper documents.
    This electronic signature service is provided on behalf of Theta Tau
    who is sending electronic documents, notices, disclosures or requesting electronic
    signatures to you.
</p>
<p>
    <strong>Use of the Service requires a standards-compliant web-browser which supports the
    HTTPS protocol, HTML, and cookies. Viewing PDF documents requiring additional
        software such as Adobe Reader or similar.</strong>
</p>
<p>
    <strong>You are not required to receive notices and disclosures or sign documents electronically.
    If you prefer not to do so, you may request to receive paper copies and
        withdraw your consent at any time as described below.</strong>
</p>
    <h2>Paper Copies</h2>
<p>
    You are not required to receive notices or disclosures or sign documents
    electronically and may request paper copies of documents or disclosures if you prefer to do so.
    You also have the ability to download and print any open or signed documents
    sent to you through the electronic signature service using the PDF and Print icons.
    Theta Tau may also email you a PDF copy of all agreements you sign using the
    electronic signature service. If you wish to receive paper copies in lieu of
    electronic documents you may close this web browser and request paper copies
    from Theta Tau by following the procedures outlined below.
    Theta Tau may apply a charge for requesting paper copies.
</p>

    <h2>Withdrawal of Consent</h2>
<p>
    You may withdraw your consent to receive electronic documents, notices or
    disclosures at any time. In order to withdraw consent you must notify Theta Tau
    that you wish to withdraw consent and to provide your future documents,
    notices, and disclosures in paper format.
    After withdrawing consent if at any point in the future you proceed forward
    and utilize the electronic signature system you are once again consenting
    to receive notices, disclosures, or documents electronically.
    You may withdraw consent to receive electronic notices and disclosures and
    optionally electronic signatures by following the procedures described below.
</p>
    <h2>Scope of Consent</h2>
<p>
    You agree to receive electronic notices, disclosures, and electronic signature
    documents with all related and identified documents and disclosures provided
    over the course of your relationship with Theta Tau.
    You may at any point withdraw your consent by following the procedures described below.
</p>
<h2>
    Requesting paper copies, withdrawing consent, and updating contact information
</h2>
<p>You have the ability to download and print any documents we send to you through the
    electronic signature system. To request paper copies of documents,
    withdraw consent to conduct business electronically and receive documents,
    notices, or disclosures electronically or sign documents electronically
    please contact the Theta Tau by telephone, postal mail, or by sending an
    email to Theta Tau with the following subjects:</p>
    <ul>
        <li>“Requesting Paper Copies”</li>
        <ul><li>Please provide your name, email, telephone number, postal address and document title.</li></ul>
        <li>“Withdraw Consent”</li>
        <ul><li>Please provide your name, email, date, telephone number, postal address.</li></ul>
        <li>“Update Contact Information”</li>
        <ul><li>Please provide your name, email, telephone number and postal address.</li></ul>
    </ul>
    <p>
    Any fees associated with sending paper copies or withdrawing consent will be determined by Theta Tau.
    </p>
{% endblock content %}
