{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
  <style>
    hr {
      border-top: 3px double #8c8b8b;
    }
  </style>
{% load plotly_dash %}
  <h1>Announcements</h1>
  <hr>
  {% for announcement in announcements %}
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-title">{{ announcement.title }}</h5>
        {{ announcement.content|safe }}
      </div>
      <div class="card-footer bg-transparent text-muted">Published: {{ announcement.publish_start }}</div>
    </div>
    <hr>
  {% endfor %}
{% plotly_header %}
{% plotly_direct name="Dashboard" %}
{% plotly_footer %}
<h2>Incomplete Tasks:</h2>
{% render_table table %}
{% endblock %}
