{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
  <style>
    hr {
      border-top: 3px double #8c8b8b;
    }
  </style>
{% load plotly_dash %}
  <h1>Announcements</h1>
  <hr>
  {% for announcement in announcements %}
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-title">{{ announcement.title }}</h5>
        {{ announcement.content|safe }}
      </div>
      <div class="card-footer bg-transparent text-muted">Published: {{ announcement.publish_start }}</div>
    </div>
    <hr>
  {% endfor %}
{% plotly_header %}
{% plotly_direct name="Dashboard" %}
{% plotly_footer %}
<h2>Incomplete Tasks:</h2>
  <p>Tasks are to help the officers of the chapter to remember to complete tasks in a timely manner. Some tasks have
    forms/submissions associated with them. You should try to complete the form or submit the appropriate document
    before marking the task complete.</p>

    <p>Sometimes it does not make sense to submit a form (eg. no prealumn members this semester, so no need to submit a
    pre-alumn form or "Our chapter does not do lock-ins"). In those cases, simply click the "Mark Complete" button in the task page,
      as you acknowledge the task no longer needs to be completed.</p>
{% render_table table %}
{% endblock %}
