{% extends "base.html" %}
{% load static i18n %}
{% block title %}Regions{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header d-flex flex-wrap align-items-center gap-2 mb-3">
    <h1 class="page-title mb-0">Regions</h1>
  </div>

  <div class="list-group">
    {% for region in region_list %}
      <a href="{% url 'regions:detail' region.slug %}" class="list-group-item">
        <h2 class="h4 list-group-item-heading">{{ region.name }}</h2>
      </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}
