{% extends "base.html" %}
{% load querystring from django_tables2 %}
{% load title from django_tables2 %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load static i18n %}
{% block title %}Region: {{ object.name }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>{{ object.name }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
        <p>{{ object.email }}</p>
        <p>{{ object.website }}</p>
        <p>{{ object.facebook }}</p>
        <p>{{ object.slug }}</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}

