{% extends "base.html" %}
{% load static %}

{% block title %}Task: {{ object.task.task.name }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h1>Completed Task Information</h1>
    <table class="table">
    <tr>
      <th>Task Name</th>
      <td>{{ object.task.task.name }}</td>
    </tr>
    <tr>
      <th>Task Owner</th>
      <td>{{ object.task.task.owner|title }}</td>
    </tr>
    <tr>
      <th>Task Description</th>
      <td>{{ object.task.task.description }}</td>
    </tr>
    <tr>
      <th>Due Date</th>
      <td>{{ object.task.date }}</td>
    </tr>
    <tr>
      <th>Submission Date</th>
      <td>{{ object.date }}</td>
    </tr>
    <tr>
      <th>Related Submission</th>
      <td>
        {% if object.submission_object or 'ballots' in object.task.task.resource %}
          {% if object.submission_type.name == "risk management" %}
            <a href="{% url 'forms:rmp_complete' object.submission_id %}">{{ object.submission_object.user }}</a>
          {% elif 'ballots' in object.task.task.resource %}
            <a href="{% url object.task.task.resource object.task.task.name|slugify %}">{{ object.task.task.name }}</a>
          {% else %}
            <a href="{% url 'submissions:update' object.submission_id %}">{{ object.submission_object }}</a>
          {% endif %}
        {% else %}
          Submission not available/applicable
        {% endif %}
      </td>
    </tr>
    </table>
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Update My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">Update E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

