{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Complete Task: {{ task.name }}{% endblock %}

{% block content %}
  <h1>Mark Task As Complete</h1>
  <table class="table">
    <tr>
      <th>Task Name</th>
      <td>{{ task.name }}</td>
    </tr>
    <tr>
      <th>Task Owner</th>
      <td>{{ task.owner|title }}</td>
    </tr>
    <tr>
      <th>Task Description</th>
      <td>{{ task.description }}</td>
    </tr>
    <tr>
      <th></th>
      <td>
        <form class="form-horizontal" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn-primary" value="Save"><i class="fas fa-check"></i> Complete</button>
            </div>
          </div>
        </form>
      </td>
    </tr>
  </table>
{% endblock content %}

