{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
<h1>{% trans "Sign In" %}</h1>
{% get_providers as socialaccount_providers %}
<p>Please sign in with one of your existing third party account
  that has the <b>same email</b> as your account.
<div class="socialaccount_ballot">
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
</div>
{% include "socialaccount/snippets/login_extra.html" %}
    <h4>Your username is your email address.</h4>
<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot/Reset Password?" %}</a>
  <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
<br>
  <h1>{% trans "Lookup Password" %}</h1>
  <p>If you do not know, or if you have never set a password, <br>click on
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot/Reset Password?" %}</a></p>
</form>
    </div>
  <div class="col-md-6">
    <h1>{% trans "Lookup Username/Email" %}</h1>
    <br>If you do not know the <b>email</b> used for your account, look up
  your {{ site.name }} <b>email</b> and then sign in with your email as your username.</p>
<p>If an account is found, this lookup will send you a password reset email automatically.
<form class="signup" id="lookup_form" method="post" action="{% url 'users:lookup' %}">
  {% csrf_token %}
  {{ lookup_form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Lookup" %} &raquo;</button>
</form>
  <br>
  <h1>{% trans "Email Access Issues" %}</h1>
  <p>If you do not know, or if you no longer have access to your email that you signed up with
    as a pledge, please email us with your name, chapter, badge number, and new email at
    <a class="button secondaryAction"
       href="mailto:cmt@thetatau.org?subject=CMT Email Reset&body=Name: %0D%0AChapter: %0D%0ABadge Number: %0D%0AOld Email: %0D%0ANew Email: ">
      cmt@thetatau.org</a></p>
  </div>
  </div>
</div>
{% endblock content %}
