<!-- FOR CREATING A NEW EVENT -->
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load crispy_forms_field %}
{% load render_table from django_tables2 %}
{% block title %}Create New Event{% endblock %}
{% block content %}
  <h1>Create New Event</h1>
  <form class="form-horizontal" enctype="multipart/form-data" action="" method="POST">
    {% csrf_token %}
    {% for field in forms.event %}
      {{ field|as_crispy_field }}
      {% if field.name == "type" %}
        <h4>Event Type Description: </h4>
          <h5>
        {% for description in descriptions %}
          <div id="{{ description.id }}" class="group">
          <table class="table">
            <thead>
            <tr>
              <th>Type Description</th>
              <th>Formula</th>
              <th>Points Per Year</th>
              <th>Detail Link</th>
            </tr>
            </thead>
            <tr>
              <td>{{ description.description }}</td>
              <td>{{ description.formula }}</td>
              <td>{{ description.points }}</td>
              <td><a class="nav-link" href="{% url 'scores:detail' description.slug %}">Details</a></td>
          </table>
          </div>
        {% endfor %}
          </h5>
      {% endif %}
    {% endfor %}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
      {{ forms.gear|crispy }}
    <h4 id="picture">Add pictures:</h4>
  <p>
    You do not have to add pictures, this is optional. Leave blank if no pictures.<br>
    However, if you do add a picture, for each picture,
    you must include name of person who took the photo as well as a brief description.
  </p>
    {{ forms.picture.media }}
  <link href="{% static 'css/project.css' %}" rel="stylesheet">
      {% csrf_token %}
      <div>{{ forms.picture.management_form|crispy }}</div>
      <table{% if form_id %} id="{{ form_id }}_table"{% endif %} class="table table-striped table-sm">
        <thead>
        {% if forms.picture.readonly and not forms.picture.queryset.exists %}
        {% else %}
          <tr>
            {% for field in forms.picture.forms.0 %}
              {% if field.label and not field.is_hidden and field.label != "Delete" %}
                <!-- <th for="{{ field.auto_id }}"
                    class="col-form-label {% if field.field.required %}requiredField{% endif %}">
                  {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                </th> -->
              {% endif %}
            {% endfor %}
            <th>Add / <br>Remove</th>
          </tr>
        {% endif %}
        </thead>
        <tbody>
        {% for form in forms.picture %}
          <tr class="row_form">
            <div class="input-group">
              {% for field in form %}
                {% if field.label == "Delete" %}
                  <td class="hidden" style="display: none;">
                    {{ field }}
                  </td>
                {% else %}
                  {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False form_show_errors=True %}
                {% endif %}
              {% endfor %}
              <td>
                <div class="input-group-append">
                  <button class="btn btn-success add-row_form">+</button>
                </div>
              </td>
            </div>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    <div class="control-group">
      <div class="controls">
        <input type="button" class='btn btn-secondary'
               onclick='location.href="{% url 'events:list' %}";'
               value="Cancel" />
        <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
      </div>
    </div>
  </form>
{#  This was used to determine the type of pledge program#}
{#        <? if (desc_id == "Pledge"){ ?>#}
{#        <br>Program type: #}
{#        <select name="program" id="program" form="submissions">#}
{#          <option value="unmodified">Unmodified</option>#}
{#          <option value="modified">Modified</option>#}
{#        </select><? } ?>#}
<script >
$(function () {
  $('.group').hide();
  $('#id_type').change(function () {
  var value = $('#id_type').find(":selected")[0].value;
  $('.group').hide();
  $('#'+value).show();
  })
});
</script>
{% endblock %}
{% block javascript %}
{{ block.super }}
<script src="{% static 'js/dynamic_formset.js' %}"></script>
{% endblock %}
