{% extends "herald/html/base_email.html" %}
{% block title %}Theta Tau Chapter Advisor{% endblock %}
{% block content %}
<h2 class="null" style="margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 30px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -1px;text-align: left;color: #606060 !important;">Theta Tau Chapter Advisor</h2>
Greetings,
<p>
The {{ chapter_name }} of Theta Tau at {{ school }} has indicated that you are the campus official with whom they network for support and/or oversight.
  </br>We're emailing to confirm this information.</br>
  If this information is not accurate, please email our executive director by replying to this email.</br>
</p>
<p>Fraternally,<br>Theta Tau Central Office</p>
{% endblock content %}
