{% extends "herald/html/base_email.html" %}
{% block title %}Theta Tau Alumni Exclusion Form{% endblock %}
{% block content %}
<h2 class="null" style="margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 30px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -1px;text-align: left;color: #606060 !important;">{{ process_title }} {{ state }}</h2>
<br>
Dear {{ addressee }},
  <p>At a regular meeting {{ user }} was voted to be excluded from participation in chapter meetings, events, or grounds, in accord with the Laws and Customs of Theta Tau.</p>
{% if review %}
<p>Please sign in to the CMT and verify or veto this exclusion: <a href="{{ host }}{% url 'alumniexclusion' %}">Alumni Exclusion Form</a> </p>
{% else %}

  <p>This decision can be appealed by contacting the Health & Safety Committee, through the Executive Director.</p>
{% endif %}
{% endblock content %}
