{% extends "herald/html/base_email.html" %}
{% block title %}Theta Tau Awards Digest{% endblock %}
{% block content %}
<br>
{% if grants %}
<p>Join us in congratulating the following recipients on their recent Theta&nbsp;Tau awards!</p>
<table cellpadding="6" style="border-collapse:collapse;">
  <thead>
    <tr>
      <th align="left">Award</th>
      <th align="left">Recipient</th>
      <th align="left">Awarded</th>
    </tr>
  </thead>
  <tbody>
    {% for grant in grants %}
    <tr>
      <td>
        {{ grant.award_type }}
        {% if grant.award_type.description %}<br><span style="font-size:12px;color:#666666;">{{ grant.award_type.description }}</span>{% endif %}
      </td>
      <td>{{ grant.recipient_display }}</td>
      <td>{{ grant.effective_date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p>{{ count }} award{{ count|pluralize }} to celebrate congratulations to all!</p>
{% else %}
<p>No awards were granted in this period.</p>
{% endif %}
<p>In H&amp;T,<br>Theta Tau</p>
{{ unsubscribe_footer|safe }}
{% endblock content %}
