{% extends "herald/html/base_email.html" %}
{% block title %}Theta Tau Convention Credential Form{% endblock %}
{% block content %}
<h2 class="null" style="margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 30px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -1px;text-align: left;color: #606060 !important;">{{ process_title }} {{ state }}</h2>
<br>
Dear {{ user }},
<p>This is a notification for {{ message }}</p>
<p>Please sign in to the CMT and sign the form: <a href="{{ host }}{% url 'conventionform' %}">Convention Credential Form</a> </p>
  <p>At a regular meeting the following members were elected to represent this
  chapter at the forthcoming Convention, in accord with the Laws and Customs of Theta Tau.</p>
<table>
<tr>
<th>Member</th>
<th>Role</th>
</tr>
{% for row in table.rows.data %}
<tr>
<td>{{ row.owner }}</td>
<td>{{ row.role }}</td>
</tr>
{% endfor %}
</table>
{% endblock content %}
