{% extends "herald/html/base_email.html" %}
{% block title %}Theta Tau PNM Exit Survey{% endblock %}
{% block content %}
<h1 class="null" style="margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 40px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -1px;text-align: left;color: #606060 !important;">
  Theta Tau PNM Exit Survey</h1>
Dear {{ user }},
<p>
  Theta Tau was recently informed that you
  are no longer a potential new member (PNM).
  We are dedicated to the improvement of our organization
  and processes and value your opinion.
  It would be appreciated if you could take about 5 minutes to complete this 6
  question survey on your experience. All answers will be kept confidential.</p>
  <h3><a href="{{ host }}{% url "surveys:depledge" user.user_id %}">Survey Link</a>
  <br>
    Or copy and paste the following in your browser:<br>
    {{ host }}{% url "surveys:depledge" user.user_id %}
  </h3>
  <p>
    Questions can be directed to Jennifer Kreiman,
    Director of Chapter Services, at
    <a href="mailto:jennifer.kreiman@thetatau.org?subject=Theta%20Tau%20Exit%20Survey"
       target="_blank"
       style="word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #6DC6DD;font-weight: normal;text-decoration: underline;">
      jennifer.kreiman@thetatau.org</a>
  </p>
{% endblock content %}
