Dear YYY chapter officers,
With convention quickly approaching and in light of the issues from COVID-19. We are adjusting how the CMT scoring will work.
Three years will be used for only this past "biennium", starting this fall we will continue to use two years as normal.

Please review: cmt.thetatau.org/scores/ for a breakdown of the scoring categories and your chapter performance.

As it stands from the three years your chapter has the following:

Points:
    Y brotherhood
    Z professional
    A service
    X operation

- X events
- Y submissions

You have until XXXX date to enter events/submissions.

There are two awards these scores impact.
- Founder's award is for the most improved chapter
- Schrader award is for the chapter with the highest score

Finally the 700 club (for those chapters scoring 700/year) which results in a chapter getting a liability insurance discount.

Some notes many chapters are missing:
- You should take attendance at meetings and add an event for that meeting
- Each member can enter their GPA, service hours, honor/tech societies by going to: cmt.thetatau.org/users/myinfo/