{% extends "herald/html/base_email.html" %}
{% block title %}Welcome New Theta Tau Officers{% endblock %}
{% block content %}
Dear Theta Tau New Officers,
<p>Thank you for your commitment to your chapter.
Being an officer is not only a position of authority,
but a position of service to your chapter and our profession.
By electing you as chapter officers,
the members have confidence that you will unselfishly serve and
conduct the business of Theta Tau according to our policies and bylaws.</p>

<h3 class="null" style="margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 18px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -.75px;text-align: left;color: #404040 !important;">
    Important contacts:
</h3>
<ul>
  <li style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
	Your regional directors can be reached at <a href="mailto:{{ director_emails }}">{{ director_emails }}</a>
  </li>
  <li style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
	Risk management committee at <a href="mailto:risk.management@thetatau.org">risk.management@thetatau.org</a>
  </li>
</ul>
<h3 class="null" style="margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 18px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -.75px;text-align: left;color: #404040 !important;">
Resources specific to your role in the chapter:
</h3>
<ul>
  <li style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
All tasks are outlined here: <a href="{{ host }}/tasks">{{ host }}/tasks</a>
  </li>
  <li style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
The chapter management tool will handle many forms/tasks for your chapter, please login and review it now at <a href="{{ host }}">{{ host }}</a>
  </li>
  <li style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    The latest policy and procedures manual is here: <a href="http://thetatau.org/policies">thetatau.org/policies</a>
  </li>
  <li style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    A list of manuals and resources are available here: <a href="http://thetatau.org/forms-manuals-resources">thetatau.org/forms-manuals-resources</a>
  </li>
  <li style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    All overnight pledge events must be approved by emailing <a href="mailto:risk.management@thetatau.org">risk.management@thetatau.org</a>
  </li>
</ul>
{# <li style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">#}
{#Facebook group for role: XXXX#}
{#  </li>#}
{#If Scribe:#}
{#Your chapter currently has XXX members#}
{#Your chapter currently has XXX pledges#}
{#If either of these are incorrect, the basic forms: officer election, coop, initiation, and member status change reports are to be filled out and submitted here:​ cmt.thetatau.org#}
{#A current list of members is here: cmt.thetatau.org/users#}
{#If Treasurer:#}
{#Your chapter currently has a balance of XXX as of XXX#}
<h3 class="null" style="margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 18px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -.75px;text-align: left;color: #404040 !important;">
Notes for your region:
</h3>
<ul>
  <li style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
      Your Regional Website is at <a href="{{ region_web }}">{{ region_web }}</a>
  </li>
  <li style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
      Your Regional Facebook Group is here: <a href="{{ region_facebook }}">{{ region_facebook }}</a>
  </li>
</ul>
  {% include "herald/html/rm_contact.html" %}
{% endblock content %}
