{% extends "herald/html/base_email.html" %}
{% block title %}Theta Tau OSM Form{% endblock %}
{% block content %}
<h2 class="null" style="margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 30px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -1px;text-align: left;color: #606060 !important;">{{ process_title }} {{ state }}</h2>
<br>
Dear {{ user }},
<p>This is a notification for {{ message }}</p>
{% if officer %}
  <p>At a regular meeting {{ nominate }} was elected as the chapter outstanding student member, in accord with the Laws and Customs of Theta Tau.</p>
<p>Please sign in to the CMT and verify this nomination: <a href="{{ host }}{% url 'osmform' %}">OSM Form</a> </p>
{% else %}
  <p>At a regular meeting you were elected as the chapter outstanding student member, in accord with the Laws and Customs of Theta Tau.</p>
  <p>Please fill out the <b>National</b> outstanding student member application: <br>
    <a href="https://form.jotform.com/230964845742162" target="_blank">https://form.jotform.com/230964845742162</a></p>
{% endif %}
{% endblock content %}
