{% extends "herald/html/base_email.html" %}
{% block title %}Theta Tau Welcome{% endblock %}
{% block content %}
Dear {{ name }},
<p>Welcome to Theta Tau!</p>
<p>
  We hope that your membership experience is productive, beneficial, and rewarding. In addition to those elements of a
  prospective new member education experience, we also want it to be safe, supportive, and fulfilling.
</p>

<p>
  Our Professional Engineering Fraternity partnered with <b>TIGHTROPE</b>, whose mission is to help students address
  critical challenges such as alcohol abuse prevention, sexual assault prevention, hazing prevention, and to build
  financial literacy in our students in higher education institutions across the country. As part of a comprehensive
  prevention program for students, Theta Tau expects you to complete TIGHTROPE. This online education will empower you
  to make well-informed decisions about issues that affect your college years & beyond.
</p>

<p>
  <b>All those joining Theta Tau are expected to complete the TIGHTROPE PROGRAM.</b> It is important that you complete
  the program since it will enable us to learn and understand the needs of our members, and thereby to create
  programming to help them personally and professionally for years to come. Aside from the personal benefits, on a
  national scale, it is said that Theta Tau has the lowest insurance rates in the Greek market. We believe that
  personally tailored, online education modules like this are a critical component in helping us keep it that way.
</p>

<p>
  The TIGHTROPE PROGRAM has been assigned by Theta Tau, not the college or university. Read and follow the instructions
  below carefully to receive credit for completing the course. You know from Prob & Stats that the broader the sampling
  size, the more accurate and realistic the result – put simply we need everyone"s participation to gain the most useful
  data, results, and benefit. Additional background is available on the Theta Tau Member Education webpage. The
  expectation is that the majority of pledges within each chapter will complete the program. Chapters with less than 75%
  completion will be assessed an insurance surcharge of up to 50%.
</p>

<h4>To fulfill Theta Tau"s requirement:</h4>
<ul>
  <li>
    We highly recommend using the Google Chrome browser because there are known compatibility issues with both Internet
    Explorer and Safari.
  </li>
  <li>
    Visit www.tightropeprogram.com and click the 'Create Account' button on the homepage.
  <li>
  Complete the required fields, accept the Terms and Agreement, and then click 'Create an Account'. Enter
the access code "TT-TR-2022" (the year should match the year of spring semester) when creating your account.
  The password you choose must be at least 7
characters long and must contain lowercase letters, uppercase letters, numbers and special characters.
</li>
  </li>
  <li>
In order to complete the Tightrope program you must turn off your pop-up blocker or allow pop-ups
from www.beingplaid.com. For assistance in turning off your pop-up blocker, click here.
  </li>
  <li>
    After logging in, click on the "Enroll" button next to “Theta Tau: Tightrope Program (XXXX-XXXY)”.
  </li>
  <li>
Then click the green "play" button to launch the program. A pop-up box should appear with a list of
Tightrope courses.
  </li>
<li>
Click the link "View Link" next to "Tightrope Introduction" to begin the program. The first thing you will be
asked to do is answer a questionnaire related to alcohol and other drugs, which takes about 15 minutes to
complete. Following the questionnaire will be an interactive program that will conclude with a knowledge
check that you must score at least an 80% to pass.
</li>
<li>
  After you complete each course you will gain access to the next course in the program.
</li>
<li>
Email support@beingplaid.com if you have trouble creating an account, enrolling in the courses or
completing the required courses.
</li>
</ul>
Thank you, and we hope that you will enjoy your new member education experience!
<p>Sincerely,<br>Theta Tau Central Office</p>
{% endblock content %}
