{% extends "herald/html/base_email.html" %}
{% block title %}Theta Tau Welcome{% endblock %}
{% block content %}
Dear {{ name }},
<p>Welcome to Theta Tau!</p>
<p>We hope that your membership experience is productive, beneficial, and rewarding.  In addition to those elements of a prospective new member education experience, we also want it to be safe, supportive, and fulfilling.</p>

<p>Two years ago, our Professional Engineering Fraternity partnered with <b>EVERFI</b>, whose mission is to help students address critical challenges such as alcohol abuse prevention, sexual assault prevention, hazing prevention, and to build financial literacy in our students in higher education institutions across the country. Each year over 700,000 students complete the <b>EVERFI GreekLifeEdu course</b>.  As part of a comprehensive prevention program for students, Theta Tau expects you to complete GreekLifeEdu. This online education will empower you to make well-informed decisions about issues that affect your college years & beyond.</p>

<p><b>All those joining Theta Tau are expected to complete the GreekLifeEdu module.</b> It is important that you complete the program since it will enable us to learn and understand the needs of our members, and thereby to create programming to help them personally and professionally for years to come.  Aside from the personal benefits, on a national scale, it is said that Theta Tau has the lowest insurance rates in the Greek market.  We believe that personally tailored, online education modules like this are a critical component in helping us keep it that way.</p>

<p>The GreekLifeEdu module has been assigned by Theta Tau, not the college or university. In order to complete this course, you may need a second EverFi account if your school requires you to participate in other EverFi education modules. Read and follow the instructions below carefully to receive credit for completing the course. You know from Prob & Stats that the broader the sampling size, the more accurate and realistic the result – put simply we need everyone’s participation to gain the most useful data, results, and benefit.  Additional background is available on the Theta Tau Member Education webpage.  The expectation is that the majority of pledges within each chapter will complete the program.  Chapters with less than 75% completion will be assessed an insurance surcharge of up to 50%.</p>

<h4>To fulfill Theta Tau’s requirement:</h4>
<ul>
  <li>
    Go to: <a href="http://www.everfi.com/register">http://www.everfi.com/register</a>.
  </li>
  <li>
    Under Student/Learner, enter the Registration Code: <b><u>2d747434</u></b>  -- click "Next" to create your EVERFI Account
  <li>
  If you are unable to complete the account registration because of a pre-existing account under the same e-mail, go back to <a href="http://www.everfi.com/login">www.everfi.com/login</a> and log in using the existing credentials
</li>
  </li>
  <li>
    On the dashboard, add registration code <b><u>2d747434</u></b> by clicking "Add a Course" at top right corner
  </li>
  <li>
    <h3><u>Complete Part 1 of GreekLifeEdu not any later than {{ no_later_date }}</u></h3>
  </li>
  <li>
    30 days later, you will receive an invitation to complete Part 2
  </li>
</ul>
                          <h4>Other Important Information:</h4>
<ul>
  <li>
    You will need Internet access and audio capabilities
  </li>
  <li>
    Please add <a href="mailto:info@everfi.net">info@everfi.net</a> as a known/safe sender to your email application to avoid spam designation
  </li>
  <li>
    To avoid technical issues, use a web browser (e.g., Firefox, Internet Explorer, Google Chrome) released within the last two years
  </li>
  <li>
    You may take the course in multiple sittings, and your progress will be saved
  </li>
  <li>
    The course may include surveys to help personalize the experience and measure attitudes and behaviors. All survey responses are confidential.
  </li>
  <li>
    Theta Tau receives aggregated results for Student Members and Prospective New Members nationally, by Region, and sometimes by chapter. We will not see individual answers.
  </li>
  <li>
    Should you experience problems, technical support is available 24/7 and can be accessed from the "Help" link within the course or by visiting <a href="http://support.everfi.com">support.everfi.com</a>
  </li>
</ul>
Thank you, and we hope that you will enjoy your new member education experience!
<p>Sincerely,<br>Theta Tau Central Office</p>
{% endblock content %}
