{% extends "herald/html/base_email.html" %}
{% block title %}Prospective New Member Form Submitted{% endblock %}
{% block content %}
<h2 class="null" style="margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 30px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -1px;text-align: left;color: #606060 !important;">Prospective New Member Form Submitted</h2>
Chapter Vice Regent and Scribe,
<p>
A prospective new member form was submitted for your chapter by <b>{{ pledge }}</b>.
</p>
<p>
If this is incorrect, please reply to this email.
</p>
<p>In H&T,<br>Chapter Management Tool</p>
{% endblock content %}
