{% extends "herald/html/base_email.html" %}
{% block title %}Other Pledge Program Submitted{% endblock %}
{% block content %}
<h2 class="null" style="margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 30px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -1px;text-align: left;color: #606060 !important;">Other Pledge Program Submitted</h2>
Dear Risk Management Committee,
<p>
{{ user }} from {{ user.chapter }} submitted an other/modified pledge program.</p>
<p><strong>Attached is a copy of "{{ file_name }}".</strong></p>
<p>Please review the document and reach out to <a href="mailto:{{ user.email }}">{{ user.email }}</a> with any questions/concerns.</p>
<p>In H&T,<br>Chapter Management Tool</p>
{% endblock content %}
