{% extends "herald/html/base_email.html" %}
{% block title %}Theta Tau Prospective New Member / Pledge Form{% endblock %}
{% block content %}
<h2 class="null" style="margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 30px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -1px;text-align: left;color: #606060 !important;">Theta Tau Prospective New Member / Pledge Form</h2>
Greetings,
<p>
  Please verify the information you entered below is correct.<br>
  If you need to correct anything, please respond to this email as soon as possible.
</p>
<table>
    {% for field, value in form.items %}
        <tr>
            <th>{{ field }}</th>
            <td>{{ value }}</td>
        </tr>
    {% endfor %}
</table>
<p>Fraternally,<br>Theta Tau Central Office</p>
{% endblock content %}
