{% extends "herald/html/base_email.html" %}
{% load querystring from django_tables2 %}
{% load render_table from django_tables2 %}
{% block title %}CMT Monthly Email{% endblock %}
{% block content %}
<h1 class="null" style="margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 40px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -1px;text-align: left;color: #606060 !important;">
  CMT Monthly Update</h1>
  <br>
Dear Theta Tau {{ region }} Regional Directors,
<p>
Below is an overview of your region. Member/PNM/Officer counts are as of today.
  Events for the past month. Tasks past due for the semester.</p>
  <br>
  {% render_table table %}
  <br>
  {% if tasks_upcoming %}
    <h2 class="mc-toc-title"
        style="margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 26px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -.75px;text-align: left;color: #404040 !important;">
      Upcoming Tasks for chapters:</h2>
    <ul>
      {% for task in tasks_upcoming %}
        <li style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
          <a href="{{ host }}{% url 'tasks:complete' task.pk %}" target="_blank"
             style="word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #6DC6DD;font-weight: normal;text-decoration: underline;">
            {{ task }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock content %}
