<h2 class="null"
    style="margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 26px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -.75px;text-align: left;color: #404040 !important;">
  Risk Management:
</h2>
If you see something, speak up!<br>
Do not hesitate to reach out to your regional directors, or the risk management chair.<br>
<a href="mailto:Lindsey.Carr@thetatau.org?subject=Risk%20Management%20Question%2FIssue"
   target="_blank"
   style="word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #6DC6DD;font-weight: normal;text-decoration: underline;">
  Lindsey Carr</a>,  804-986-3329
