{% extends "herald/html/base_email.html" %}
{% block title %}Risk Management Policies Signed{% endblock %}
{% block content %}
<h2 class="null" style="margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 30px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -1px;text-align: left;color: #606060 !important;">Risk Management Policies Signed</h2>
Dear {{ user }},
<p>
Thank you for signing the Risk Management Policies of Theta Tau.</p>
<p><strong>Attached is a final copy of "{{ file_name }}".</strong></p>
<p>You can also view the document in <a href="{{ host }}{% url 'users:detail' %}#submissions">your Chapter Management Tool account</a>.</p>
  {% include "herald/html/rm_contact.html" %}
{% endblock content %}
