{{% extends "herald/html/base_email.html" %}
{% block title %}Officer update reminder{% endblock %}
{% block content %}
<h1 class="null" style="margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 40px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -1px;text-align: left;color: #606060 !important;">Officer update reminder</h1>
Dear Theta Tau {{ chapter }} Officers,
<br>
You are getting this message because you are listed as an officer for your chapter.<br>
The term(s) of {{ officers }} is set to expire within the next fourteen days, and no replacement has been set.
<b>Please update the position(s) on the CMT as soon as possible at Officer Election Report <a href="{{ host }}{% url 'forms:officer' %}">cmt.thetatau.org{% url 'forms:officer' %}</a></b>
<br>
<br>
  {% include "herald/html/rm_contact.html" %}
{% endblock content %}
