{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Update Ballot: {{ object.name }}{% endblock %}

{% block content %}
  <h1>Update Ballot: {{ object.name }}</h1>
  <form class="form-horizontal" enctype="multipart/form-data" method="post" action="">
    {% csrf_token %}
    {{ form.media }}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Update</button>
      </div>
    </div>
  </form>
{% endblock %}
