{% load static i18n %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% user_alter_form as user_alter_form %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Theta Tau Chapter Management Tool{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Theta Tau, professional engineering fraternity chapter management tool">
    <meta name="author" content="Theta Tau">
    <meta name="robots" content="noindex">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% block css %}
    <style>
      .est {
        background: url('{% static 'images/established.png' %}') no-repeat top left;
      }
      .gear > li {
        list-style-image: url('{% static 'images/gear.png' %}');
        padding-bottom: 5px;
      }
      #MPOuterHeader {
        background-image: url('{% static 'images/header-bg.jpg' %}');
        background-repeat: repeat;
      }
      body {
        background-image: url('{% static 'images/background.png' %}');
        background-repeat: repeat;
      }
    </style>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>

    <!-- SmartMenus jQuery Bootstrap 4 Addon CSS -->
    <link href="{% static 'css/jquery.smartmenus.bootstrap-4.css' %}" rel="stylesheet">

    <!-- Your stuff: Third-party CSS libraries go here -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}
  <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" />
  <script>
    !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
    posthog.init('jUiPdXUaw6Kq07B4Wa9xSWbdl93clesrjhXmp9oDgjE', {api_host: 'https://app.posthog.com'})
  </script>
  </head>

  <body>
  <section class="header">
    <div id="MPOuterHeader" class="row" role="banner">
        <div class="col-md-12">
            <div id="DesktopLogoDiv" class="LogoImg inline">
                <a href="{% url 'home' %}" style=''>
                    <img class="img-responsive" src="{% static 'images/header.png' %}" alt="Theta Tau Fraternity" /></a>
            </div>
            <div class="SloganText inline">
            <h1>
              <a class="SloganText inline" href="{% url 'home' %}">
                {% if request.user.is_authenticated %}
                  {{ request.user.current_chapter }}
                {% else %}
                  Theta Tau
                {% endif %}
              Chapter Management Tool</a>
            </h1>
            </div>
        </div>
    </div>
  </section>
    <div id="NAV" class="m-b-1">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if not request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'forms:pledgeform' %}">Pledge Form</a>
            </li>
            {% endif %}
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'chapters:detail' request.user.current_chapter.slug %}">Chapter</a>
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">{% trans "Members" %}</a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item">
                      <a class="nav-link" href="{% url 'users:list' %}">{% trans "List" %}</a>
                    </li>
                    {% if request.is_officer %}
                    <li class="dropdown-item">
                      <a class="nav-link" href="{% url 'users:gpas' %}">{% trans "GPAs" %}</a>
                    </li>
                    <li class="dropdown-item">
                      <a class="nav-link" href="{% url 'users:service' %}">{% trans "Service Hours" %}</a>
                    </li>
                    <li class="dropdown-item">
                      <a class="nav-link" href="{% url 'users:orgs' %}">{% trans "External Orgs" %}</a>
                    </li>
                    {% endif %}
                  </ul>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'scores:list' %}">Scores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'events:list' %}">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'submissions:list' %}">Submissions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'tasks:list' %}">Tasks</a>
              </li>
{#              <li class="nav-item">#}
{#                <a class="nav-link" href="{% url 'finances:list' %}">{% trans "Finances" %}</a>#}
{#              </li>#}
            {% endif %}
          </ul>
          <ul class="nav navbar-nav justify-content-end">
            {% if request.user.is_authenticated %}
              {% if request.is_officer %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'chapters:list' %}">{% trans "Chapters" %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'forms:landing' %}">{% trans "Forms" %}</a>
              </li>
                {% endif %}
              {% if request.is_nat_officer %}
                <li class="dropdown"><a class="nav-link dropdown-toggle" href="#">{% trans "NatOff" %}</a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item">
                      <a class="nav-link" href="{% url 'users:search' %}">{% trans "Member Search" %}</a>
                    </li>
                    <li class="dropdown-item">
                      <a class="nav-link" href="{% url 'ballots:list' %}">{% trans "Ballots" %}</a>
                    </li>
                    <li class="dropdown-item">
                      <a class="nav-link" href="{% url 'forms:natoff' %}">{% trans "Nat Officers" %}</a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-header">Chapter Information</li>
                    <li class="dropdown-item">
                      <a class="nav-link" href="{% url 'regions:officers' 'national' %}">{% trans "All Officers" %}</a>
                    </li>
                    <li class="dropdown-item">
                      <a class="nav-link" href="{% url 'regions:advisors' 'national' %}">{% trans "All Advisors" %}</a>
                    </li>
                    <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Chapter Forms</a>
                      <ul class="dropdown-menu">
                        <li class="dropdown-item">
                          <a class="nav-link" href="{% url 'forms:report_list' %}">{% trans "All Reports" %}</a>
                        </li>
                        <li class="dropdown-item">
                          <a class="nav-link" href="{% url 'forms:audit_list' %}">{% trans "All Audits" %}</a>
                        </li>
                        <li class="dropdown-item">
                          <a class="nav-link" href="{% url 'forms:pledge_program_list' %}">{% trans "All Pledge Programs" %}</a>
                        </li>
                        <li class="dropdown-item">
                          <a class="nav-link" href="{% url 'forms:rmp_list' %}">{% trans "All RMP" %}</a>
                        </li>
                        <li class="dropdown-item">
                          <a class="nav-link" href="{% url 'forms:convention_list' %}">{% trans "All Convention Forms" %}</a>
                        </li>
                        <li class="dropdown-item">
                          <a class="nav-link" href="{% url 'forms:osm_list' %}">{% trans "All OSM Forms" %}</a>
                        </li>
                      </ul>
                    <li class="dropdown-item">
                      <a class="nav-link" href="{% url 'finances:chapters' %}">{% trans "Chapter Balances" %}</a>
                    </li>
                    <li class="dropdown-item">
                      <a class="nav-link" href="{% url 'scores:chapterlist' %}">{% trans "Chapter Scores" %}</a>
                    </li>
                  </ul>
                </li>
              {% endif %}
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link" href="{% url 'users:detail'  %}">{% trans "My Profile" %}</a>
              </li>
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
              </li>
            {% else %}
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
              </li>
            {% endif %}
          <li class="nav-item">
            {# URL provided by django-allauth/account/urls.py #}
            <a id="log-in-link" class="nav-link" href="{% url 'help' %}">{% trans "Help" %}</a>
          </li>
          </ul>
        </div>
      <a class="hidden-title" href="{% url 'home' %}">
        <h5>
          {% if request.user.is_authenticated %}
            {{ request.user.current_chapter }}
          {% else %}
            Theta Tau
          {% endif %}
          Chapter Management Tool</h5></a>
      </nav>
    {% if request.is_nat_officer %}
      <nav class="navbar navbar-fixed-top navbar-light navbar-inverse bg-light">
      <a class="navbar-brand" href="{% url 'regions:detail' request.user.current_chapter.region.slug %}">{{ request.user.current_chapter.region.name }} Region</a>
        <a class="nav-item nav-link" href="{% url 'regions:officers' request.user.current_chapter.region.slug  %}">Officers</a>
  {#        <li class="nav-item">#}
  {#          <a class="nav-link" href="{% url 'regions:events' request.user.current_chapter.region.slug %}">Events</a>#}
  {#        </li>#}
  {#        <li class="nav-item">#}
  {#          <a class="nav-link" href="{% url 'regions:submissions' request.user.current_chapter.region.slug %}">Submissions</a>#}
  {#        </li>#}
        <a class="nav-item nav-link" href="{% url 'regions:tasks' request.user.current_chapter.region.slug %}">Tasks</a>
        <form class="form-inline ml-auto" action="{% url 'users:alterchapter' %}" method="post">
          {% csrf_token %}
          {{ user_alter_form|crispy }}
          <input type="hidden" name="next" value="{{ request.path }}"/>
          <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn" name="alter-action" value="Save">Apply</button>
            <button type="submit" class="btn" name="alter-action" value="Reset">Reset</button>
          </div>
        </div>
      </form>
      </nav>
    {% endif %}
    </div>
    <div class="container">
      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}
      {% block content %}
      {% endblock content %}
    </div> <!-- /container -->
    {% block modal %}{% endblock modal %}
    <hr>
    <div class="est"></div>
    <!-- Footer -->
<section class="footer page-footer font-small stylish-color-dark pt-4">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <div class="col-md-4" style="position: relative; font-size: 16px;">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact Info</h5>
          <i class="fas fa-phone"></i> 800.264.1904<br>
          <i class="fas fa-envelope"></i>
          <a href="mailto:cmt@thetatau.org"> cmt@thetatau.org</a><br>
          <i class="fas fa-map-marker-alt"></i>
            Theta Tau Central Office<br>
            2131 W. Republic Rd, #528<br>
            Springfield, MO 65807
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-4 mx-auto">
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">We need YOU!</h5>
          <p>Interested in contributing to the Chapter Management Tool?<br>
            <a href="https://github.com/VenturaFranklin/thetatauCMT/blob/master/CONTRIBUTING.md">Please see contributing instructions here.</a></p>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Help/Issues</h5>
          <p><a href="{% url 'help' %}">See the help document here.</a></p>
          <p>Or if you have ideas for features/improvements.<br><a href="https://github.com/VenturaFranklin/thetatauCMT/issues">Please let us know, by submitting an issue/feature request here.</a></p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <hr>
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="social list-inline-item">
        <a class="btn-floating" href="https://www.facebook.com/thetatau">
          <i class="fab fa-facebook fa-3x"> </i>
        </a>
      </li>
      <li class="social list-inline-item">
        <a class="btn-floating" href="https://twitter.com/theta_tau">
          <i class="fab fa-twitter fa-3x"> </i>
        </a>
      </li>
      <li class="social list-inline-item">
        <a class="btn-floating" href="https://www.linkedin.com/company/thetatau/">
          <i class="fab fa-linkedin fa-3x"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018-2021 Copyright:
      <a href="http://thetatau.org"> thetatau.org</a><br>
      <a href="{% url 'privacy' %}">Privacy Notice</a> -
      <a href="{% url 'eula' %}">Terms of Service (EULA)</a> -
      <a href="{% url 'electronic_terms' %}">Electronic Business Terms</a>
    </div>
    <!-- Copyright -->

    </section>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}

      <!-- Bootstrap JS and its dependencies -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


      <!-- Your stuff: Third-party javascript libraries go here -->
      <!-- SmartMenus jQuery plugin -->
      <script type="text/javascript" src="{% static 'js/jquery.smartmenus.js' %}"></script>

      <!-- SmartMenus jQuery Bootstrap 4 Addon -->
      <script type="text/javascript" src="{% static 'js/jquery.smartmenus.bootstrap-4.js' %}"></script>

      <!-- place project specific Javascript in this file -->

      <script src="{% static 'js/project.js' %}"></script>


    {% endblock javascript %}
  </body>
</html>

