{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Theta Tau PNM Exit Survey{% endblock %}
{% block content %}
  <script>
    $(function () {
      var value = $('#id_reason').find(":selected")[0].value;
      if (value != 'other') {
        $('#div_id_reason_other').hide();
      }
      $('#id_reason').change(function () {
        var value = $('#id_reason').find(":selected")[0].value;
        if (value == 'other') {
          $('#div_id_reason_other').show();
        } else {
          $('#div_id_reason_other').hide();
        }
      })
      var value = $('#id_decided').find(":selected")[0].value;
      if (value != 'other') {
        $('#div_id_decided_other').hide();
      }
      $('#id_decided').change(function () {
        var value = $('#id_decided').find(":selected")[0].value;
        if (value == 'other') {
          $('#div_id_decided_other').show();
        } else {
          $('#div_id_decided_other').hide();
        }
      })
    });
  </script>
  {% if not user %}
    <h2>No potential new member found for ID: "{{ username }}"</h2>
  {% elif not depledge %}
    <h2>Chapter has not submitted depledge form for {{ user }}</h2>
  {% elif object %}
    <h2>Thank you for submitting the survey and helping us improve our organization!</h2>
    <h3>Theta Tau PNM Exit Survey already submitted for {{ user }}</h3>
  {% else %}
  <h1>Theta Tau PNM Exit Survey for {{ user }}</h1>
  <p>We are dedicated to the improvement of our organization and processes and value your opinion.
    It would be appreciated if you could take about 5 minutes to complete this 6 question survey on your experience.
    All answers will be kept confidential.</p>
  <form class="form-horizontal" method="post" action="" id="form">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <input
          class="btn btn-default btn-lg btn-primary"
          type="submit"
          value="{% trans "I'm done!" %}"
          id="submit"
        >
      </div>
    </div>
  </form>
  {% endif %}
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
  <script type="text/javascript">
    $('form').submit(function () {
      if ($(this).valid()) {
        document.getElementById("submit").value = "Submitting...";
        setTimeout(function () {
          document.getElementById("submit").setAttribute("disabled", true);
        }, 0);
      }
  })
  </script>
{% endblock %}
