{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Theta Tau PNM Exit Survey{% endblock %}
{% block content %}
  <script>
    $(function () {
      var value = $('#id_reason').find(":selected")[0].value;
      if (value != 'other') {
        $('#div_id_reason_other').hide();
      }
      $('#id_reason').change(function () {
        var value = $('#id_reason').find(":selected")[0].value;
        if (value == 'other') {
          $('#div_id_reason_other').show();
        } else {
          $('#div_id_reason_other').hide();
        }
      })
      var value = $('#id_decided').find(":selected")[0].value;
      if (value != 'other') {
        $('#div_id_decided_other').hide();
      }
      $('#id_decided').change(function () {
        var value = $('#id_decided').find(":selected")[0].value;
        if (value == 'other') {
          $('#div_id_decided_other').show();
        } else {
          $('#div_id_decided_other').hide();
        }
      })
    });
  </script>
  {% if not user %}
    <h2>No potential new member found for ID: "{{ user_id }}"</h2>
  {% elif not depledge %}
    <h2>Chapter has not submitted depledge form for {{ user }}</h2>
  {% elif object %}
    <h2>Thank you for submitting the survey and helping us improve our organization!</h2>
    <h3>Theta Tau PNM Exit Survey already submitted for {{ user }}</h3>
  {% else %}
  <h1>Theta Tau PNM Exit Survey for {{ user }}</h1>
  <p>We are dedicated to the improvement of our organization and processes and value your opinion.
    It would be appreciated if you could take about 5 minutes to complete this 6 question survey on your experience.
    All answers will be kept confidential.</p>
  <form class="form-horizontal" method="post" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
  {% endif %}
{% endblock %}
