{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% block title %}Chapter: {{ object.name }} Report{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>{{ object.name }} in the {{ object.region }} Region</h2>
    <h3>Update Chapter Information:</h3>
    <p>Only can be updated by chapter officers.</p>
    <form class="chapter" method="POST">
      {% csrf_token %}
      <fieldset
        {% if not request.is_officer or request.user.current_chapter != object %}
          disabled
        {% endif %}
      >
        {{ forms.report.media }}
        {{ forms.report|crispy }}
      </fieldset>
    {% if request.is_officer and request.user.current_chapter == object %}
      <button class="btn btn-primary" name='action' value='chapter' type="submit">Update Chapter Information</button>
    {% endif %}
    </form>
      <br>
    <h3>Advisors:</h3>
    {{ forms.faculty.media }}
  <form action="" method="post">
    {% csrf_token %}
    <div>{{ forms.faculty.management_form|crispy }}</div>
  <table{% if form_id %} id="{{ form_id }}_table"{% endif%} class="table table-striped table-sm">
        <thead>
            {% if forms.faculty.readonly and not forms.faculty.queryset.exists %}
            {% else %}
                <tr>
                    {% for field in forms.faculty.forms.0 %}
                        {% if field.label and not field.is_hidden and field.label != "Delete" %}
                            <th for="{{ field.auto_id }}" class="col-form-label {% if field.field.required %}requiredField{% endif %}">
                                {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                            </th>
                        {% endif %}
                    {% endfor %}
                <th>Add / <br>Remove</th>
                </tr>
            {% endif %}
        </thead>
        <tbody>
            {% for form in forms.faculty %}
                  <tr class="row_form">
                  <div class="input-group">
                      {% for field in form %}
                        {% if field.label == "Delete" %}
                          <td class="hidden" style="display: none;">
                              {{ field }}
                          </td>
                        {% else %}
                          {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False form_show_errors=True%}
                        {% endif %}
                      {% endfor %}
                  <td>
                  <div class="input-group-append">
                      <button class="btn btn-success add-row_form">+</button>
                  </div>
                  </td>
                  </div>
                  </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-primary"  name='action' value='faculty' type="submit">Update Advisors</button>
  </form>
    </div>
  </div>
</div>
{% endblock content %}
{% block javascript %}
{{ block.super }}
<script src="{% static 'js/dynamic_formset.js' %}"></script>
{% endblock %}
