{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% block title %}Chapter: {{ object.name }} Report{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
    <h1>Theta Tau Chapter Report</h1>
    <h3>Instructions</h3>
    <ol>
      <li>
        Each chapter officer should read and become sufficiently knowledgeable
        about <a data-toggle="modal" href="" data-target="#myModal">the Risk Management Policies and Agreements (RMP)</a>
        to be able to answer questions from the rest of the chapter.
      </li>
      <li>
        Each chapter officer should sign <a data-toggle="modal" href="" data-target="#myModal">the Risk Management Policies and Agreements</a>.
      </li>
      <li>
        Each member of the chapter should sign the report <a
              href="https://drive.google.com/file/d/1TU2_c4VrzOBpbxi0EIX4U7-C6Qw7yWAV/view?usp=sharing" ,
              target="_blank"> available here.</a>
      </li>
      <li>
        During the chapter meeting immediately after you pledge in your new
        members for the semester, a period of time should be devoted to covering
        the materials in the RMP.</br>Specifically:</br>
        <ul>
          <li>
            Marshall should review the Risk Management Policy and expectations with the members;
          </li>
          <li>
            Treasurer should review the chapter’s finances, specifically
            including all fees and expenses associated with membership in the chapter and;
          </li>
          <li>
            Vice Regent should give an overview of the new member education program,
            as well as explaining the definition of hazing, explaining the national
            resources available to combat hazing and explain any campus-based resources for the same purpose.
          </li>
        </ul>
      </li>
      <li>
        The designated chapter officer should scan each section individually
        (preferably on a scanner and not with a scanner app on your phone) and
        upload the form below.
      </li>
    </ol>
    <form class="chapter_report" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <fieldset
        {% if not request.is_officer or request.user.current_chapter != object %}
          disabled
        {% endif %}
      >
        {{ forms.report.media }}
        <div>{{ forms.report.management_form|crispy }}</div>
        <h3>Report Upload</h3>
        <p>This is the document that each member signs acknowledging the Risk Management Policies of Theta Tau.
          Officers are required to also electronically sign the RMP form above, all members sign the paper form.</p>

      {% if previous_report %}
        Report already submitted for the semester.<br>
        {% if previous_report.report.url %}
          <a href="{{ previous_report.report.url }}" target=”_blank”> {{ previous_report.report }}</a>
        {% endif %}
        {% else %}
        <p>The report to be submitted is <a
                href="https://drive.google.com/file/d/1TU2_c4VrzOBpbxi0EIX4U7-C6Qw7yWAV/view?usp=sharing" ,
                target="_blank"> available here.</a></p>
        {{ forms.report.report|crispy }}
      {% endif %}
        <h3>Update Chapter Information:</h3>
        {{ forms.report.info|crispy }}
        <h3>Advisors:</h3>
          <p>We occasionally need to speak with someone on your campus and it is helpful
          to know who your advisor or Fraternity & Student Life staffer is so that we may direct our questions to them.</p>
          <h5>This form is only for <b>EXTERNAL</b> advisors.</h5>
          Alumni advisors should be submitted with an <a href="{% url 'forms:officer' %}"> officer election report.</a>
  <table{% if form_id %} id="{{ form_id }}_table"{% endif%} class="table table-striped table-sm">
        <thead>
            {{ forms.faculty.media }}
            <div>{{ forms.faculty.management_form|crispy }}</div>
            {% if forms.faculty.readonly and not forms.faculty.queryset.exists %}
            {% else %}
                <tr>
                    {% for field in forms.faculty.forms.0 %}
                        {% if field.label and not field.is_hidden and field.label != "Delete" %}
                            <th for="{{ field.auto_id }}" class="col-form-label {% if field.field.required %}requiredField{% endif %}">
                                {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                            </th>
                        {% endif %}
                    {% endfor %}
                <th>Add / <br>Remove</th>
                </tr>
            {% endif %}
        </thead>
        <tbody>
            {% for form in forms.faculty %}
                  <tr class="row_form">
                  <div class="input-group">
                      {% for field in form %}
                        {% if field.label == "Delete" %}
                          <td class="hidden" style="display: none;">
                              {{ field }}
                          </td>
                        {% else %}
                          {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False form_show_errors=True%}
                        {% endif %}
                      {% endfor %}
                  <td>
                  <div class="input-group-append">
                      <button class="btn btn-success add-row_form">+</button>
                  </div>
                  </td>
                  </div>
                  </tr>
            {% endfor %}
        </tbody>
    </table>
      </fieldset>
    <button class="btn btn-primary" name='action' value='chapter_report' type="submit">Submit Chapter Report</button>
    </form>
    </div>
  </div>
</div>
{% endblock content %}
{% block modal %}
  <div class="modal hide fade" tabindex="-1" id="myModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form id="audits-create" class="form" method="post">
          {% csrf_token %}
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Risk Management Policies and Agreements</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
              </button>
            </div>
            <div class="modal-body">
              {% include "forms/rmp_details.html" %}
            </div>
            <div class="modal-footer">
              <button type="button" id='cancel-modal' class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </form>
      </div>
      <div id="modal-data" url="" action="" run_id=""></div>
    </div>
  </div>
{% endblock modal %}
{% block javascript %}
{{ block.super }}
<script src="{% static 'js/dynamic_formset.js' %}"></script>
{% endblock %}
