{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}


{% block head_title %}{% trans "Sign Convention Credential Form" %}{% endblock %}
{% block content %}
  <h1>Sign Convention Credential Form</h1>
  {% if not delegate %}
    At a regular meeting the following members were elected to represent {{ chapter }}
    chapter at the forthcoming Convention, in accord with the Laws and Customs of Theta Tau.
  {% else %}
    At a regular meeting you were elected to represent {{ chapter }}
    chapter at the forthcoming Convention, in accord with the Laws and Customs of Theta Tau.
    <br>
    <div class="jumbotron">
      <div class="container">
        <h2>{% trans "Please Read and Acknowledge" %}</h2>
        Please read the following policies in the <a href="http://thetatau.org/policies">Policy and Procedures Manual</a>:
        <ul>
          <li>
            1.2.3 Convention Expenses
          </li>
          <li>
            1.2.5 Alcohol Policy for National Meetings
          </li>
        </ul>
      </div>
    </div>
  {% endif %}
  {% render_table table %}
  <hr>
  <form method="POST" enctype="multipart/form-data" class="form">
    {{ forms.process.media }}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% csrf_token %}
      <h5>Please sign:</h5>
    {{ forms.process|crispy }}
    {% if delegate %}
      <h5>Please verify the following information is correct:</h5>
        {{ forms.user.management_form|crispy }}
        {{ forms.user.media }}
        {{ forms.user|crispy }}
    {% endif %}
    {{ activation.management_form }}
    <button class="primaryAction btn btn-primary" name='action' value='form' type="submit">{% trans "Submit Form" %}</button>
  </form>
{% endblock %}
