{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}


{% block head_title %}{% trans "Sign Convention Credential Form" %}{% endblock %}
{% block content %}
  <h1>Sign Convention Credential Form</h1>
  {% if not delegate %}
    At a regular meeting the following members were elected to represent {{ chapter }}
    chapter at the forthcoming Convention, in accord with the Laws and Customs of Theta Tau.
  {% else %}
    At a regular meeting you were elected to represent {{ chapter }}
    chapter at the forthcoming Convention, in accord with the Laws and Customs of Theta Tau.
    <br>
    <div class="jumbotron">
      <div class="container">
        <h2>{% trans "Please Read and Acknowledge" %}</h2>
        Please read the below policies from the <a href="http://thetatau.org/policies">Policy and Procedures Manual</a>:
        <ul>
          <li>Only chapters of Theta Tau are entitled to a reimbursement of up to $3,000 for reasonable convention related expenses.</li>
          <li>The convention reimbursement allowance will be issued to my chapter after the conclusion of the convention and submission of an expense report.</li>
          <li>Reimbursements from the Central Office will be made to my chapter, not to any not directly to me. I must seek personal reimbursement from my chapter.</li>
          <li>Any unused amount of the $3,000 allocation shall be forfeited to the Fraternity operating account.</li>
          <li>The Central Office may deduct the amount of any outstanding balances from my chapter’s allowance.</li>
          <li>Failure to attend all regular sessions shall result in a reduction to my chapter’s reimbursement amount.</li>
          <li>Violations of the Alcohol Policy for National Meetings as written in the Policy and Procedure Manual by my chapter shall result in a reduction to my chapter’s reimbursement amount.</li>
          <li>If I chose to arrange lodging accommodations elsewhere besides the designated Convention venue and the required room block has not been met, my chapter shall receive a reduction in its reimbursement amount.</li>
        </ul>
      </div>
    </div>
  {% endif %}
  {% render_table table %}
  <hr>
  <form method="POST" enctype="multipart/form-data" class="form">
    {{ forms.process.media }}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% csrf_token %}
      <h5>Please sign:</h5>
    {{ forms.process|crispy }}
    {% if delegate %}
      <h5>Please verify the following information is correct:</h5>
        {{ forms.user.management_form|crispy }}
        {{ forms.user.media }}
        {{ forms.user|crispy }}
    {% endif %}
    {{ activation.management_form }}
    <button class="primaryAction btn btn-primary" name='action' value='form' type="submit">{% trans "Submit Form" %}</button>
  </form>
{% endblock %}
