{% extends "easy_pdf/base.html" %}
{% load static i18n %}
{%block page_header%}
  {% include "forms/ed_header.html" %}
{%endblock%}
{% block content %}
<div style="font-size:12px">
<p>{% now "DATE_FORMAT" %}</p>
<p>
  {{ object.user }}<br>
</p>
<p>Sent Via Electronic Mail: {{ object.user.email }}</p>
<p>
  Dear {{ object.user }},
</p>
<p align="justify">
  It is my duty to notify you of the action of the Theta Tau Executive
  Council to NOT expel you from Theta Tau membership. This followed
  action by your chapter to suspend you and recommend your
  expulsion.
</p>
<p>
Yours very truly,
</p>
{{ signature }}
<p>
  James Gaffney
  <br>
  Executive Director
</p>
</div>
{% endblock %}
{% block page_foot %}
  {% include "forms/footer.html" %}
{% endblock %}
