{% load static i18n %}
<table style="font-family:Arial;font-size:12px;color:#8B0000;">
  <tr>
    <td rowspan="3" width="90px" valign="center">
      <img src="{% static 'images/crest_shield_ribbon.jpg' %}" style="width:90px;height:147px;"/>
    </td>
    <td valign="bottom" style="font-size:15px">
      T H E T A&nbsp;&nbsp;&nbsp;&nbsp;T A U
    </td>
    <td valign="bottom" align="center" style="font-size:13px">
      EXECUTIVE DIRECTOR
    </td>
  </tr>
  <tr style="height:10px;" >
    <td colspan="2" style="width:100%;background-color:#8B0000;color:#8B0000;height: 2px;">
    </td>
  </tr>
  <tr style="padding-top:4px">
    <td valign="top" style="font-size:11px">
      PROFESSIONAL ENGINEERING FRATERNITY
    </td>
    <td valign="top" align="center">
      <p>
        JIM GAFFNEY<br>
        2131 W. Republic Rd, #528<br>
        Springfield, MO 65807<br>
        512-472-1904<br>
        JIM.GAFFNEY@THETATAU.ORG
      </p>
    </td>
  </tr>
  </table>
