<div style="font-size:15px;text-align:center;vertical-align: text-bottom;font-family:Arial;color:#8B0000;">
  <b>Engineering Leaders</b> <i>for Service, Profession, and Brotherhood</i>
</div>
<table width="100%" style="background-color:#8B0000;height:2px">
  <tr><td></td></tr>
  </table>
<table width="100%" style="height:2px">
  <tr>
    <td></td>
  </tr>
</table>
<div style="font-size:15px;text-align:center;font-family:Arial;color:#8B0000;">
    2131 W. Republic Road #528, Springfield, MO 65807 | thetatau.org | 512-472-1904
  </div>
