{% load static i18n %}
<div id="page-header">
<div class="header">
<table style="font-family:Arial;font-size:12px;color:#8B0000;">
  <tr>
    <td rowspan="3" width="68px" valign="center">
      <img src="{% static 'images/crest_shield_ribbon.jpg' %}" style="width:67.5px;height:110.25px;"/>
    </td>
    <td valign="bottom" style="font-size:15px">
      <h1>T H E T A&nbsp;&nbsp;&nbsp;&nbsp;T A U</h1>
    </td>
  </tr>
  <tr style="height:10px;" >
    <td colspan="2" style="width:100%;background-color:#8B0000;color:#8B0000;height: 2px;">
    </td>
  </tr>
  <tr style="padding-top:4px">
    <td valign="top" style="font-size:11px">
      PROFESSIONAL ENGINEERING FRATERNITY
      <br>
      Founded 1904
    </td>
  </tr>
  </table>
</div>
</div>
