{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}
{% block title %}Initiation Report{{ object.name }}{% endblock %}
{% block content %}
<script>
function update_dates() {
  var dates = document.getElementsByClassName("datepicker");
  var default_date = document.getElementById("default_date");
  for (i = 0; i < dates.length; i++) {
    var date = dates[i];
    date.value = default_date.value;
  }
}
function set_init(){
  let value = $('#init_date').val();
  $.ajax({
    type: "POST",
    data: {
      'init_date': value
    },
    url: "{% url 'forms:set_init_date' %}",
    success: function (response) {
      alert(response);
    }
  });
}
function download() {
  alert("This could take some time\nPlease be patient");
  window.open("{% url 'forms:roll_book_download_all' %}", '_blank');
}
$(function () {
  $("[id ^=id][id$=meeting_held]").each(function (index, element) {
    var value = $(this).find(":selected")[0].value;
    var id = element.id.split("depledges-")[1].split("-meeting")[0];
    if (value == 'na' || value == 'no') {
      $('#div_id_depledges-' + id + '-meeting_date').parent().hide();
      $('#div_id_depledges-' + id + '-meeting_attend').parent().hide();
      $('#div_id_depledges-' + id + '-meeting_not').parent().show();
    } else {
      $('#div_id_depledges-' + id + '-meeting_date').parent().show();
      $('#div_id_depledges-' + id + '-meeting_attend').parent().show();
      $('#div_id_depledges-' + id + '-meeting_not').parent().hide();
    }
  });
  $('.meeting-held-class').change(function () {
    var value = $(this).find(":selected")[0].value;
    var id = $(this)[0].id.split("depledges-")[1].split("-meeting")[0];
    if (value == 'na' || value == 'no') {
      $('#div_id_depledges-' + id + '-meeting_date').parent().hide();
      $('#div_id_depledges-' + id + '-meeting_attend').parent().hide();
      $('#div_id_depledges-' + id + '-meeting_not').parent().show();
    } else {
      $('#div_id_depledges-' + id + '-meeting_date').parent().show();
      $('#div_id_depledges-' + id + '-meeting_attend').parent().show();
      $('#div_id_depledges-' + id + '-meeting_not').parent().hide();
    }
  })
  $("[id ^=id][id$=reason]").each(function (index, element) {
    var value = $(this).find(":selected")[0].value;
    var id = element.id.split("depledges-")[1].split("-reason")[0];
    if (value != 'other') {
      $('#div_id_depledges-' + id + '-reason_other').parent().hide();
    } else {
      $('#div_id_depledges-' + id + '-reason_other').parent().show();
    }
  });
  $('.reason-class').change(function () {
    var value = $(this).find(":selected")[0].value;
    var id = $(this)[0].id.split("depledges-")[1].split("-reason")[0];
    if (value != 'other') {
      $('#div_id_depledges-' + id + '-reason_other').parent().hide();
    } else {
      $('#div_id_depledges-' + id + '-reason_other').parent().show();
    }
  })
$(".returned_items-class input").each(function (index, element) {
  var value = element.value;
  var id = element.id.split("depledges-")[1].split("-returned_items")[0];
  if (value == 'other' && $(this)[0].checked) {
    $('#div_id_depledges-' + id + '-returned_other').parent().show();
  } else if (value == 'other' && !$(this)[0].checked) {
    $('#div_id_depledges-' + id + '-returned_other').parent().hide();
  }
});
$('.returned_items-class input').change(function () {
  var value = $(this)[0].value;
  var id = $(this)[0].id.split("depledges-")[1].split("-returned_items")[0];
  if (value == 'other' && $(this)[0].checked) {
    $('#div_id_depledges-' + id + '-returned_other').parent().show();
  } else if (value == 'other' && !$(this)[0].checked) {
    $('#div_id_depledges-' + id + '-returned_other').parent().hide();
  }
})
})
  ;
</script>
  {{ form.media }}
  <a href="{% url 'forms:init_selection' %}">Return to Iniation Selection</a>
{% if roll_table %}
  <h1>Generate Roll Book Pages</h1>
  <p>These roll book pages can be used for initation. We encourage the chapter to find good quality paper to print on.</p>
  <p><strong>Please verify all information is correct for each potential new member.</strong>
    Each PNM can update their information by logging into the CMT and clicking on "My Profile".</p>
  <p>Once verified, set the date of initation and then download the roll book pages.</p>
  <table>
  <tr>
    <td>Date of Initiation:</td>
    <td>
      <div style="position: relative">
        <input id="init_date" autocomplete="off" class="datepicker" data-toggle="datetimepicker"
               data-target="#init_date">
        <script type="text/javascript">
          $(function () {
            $('#init_date').datetimepicker({"format": "M/DD/YYYY"});
          });
        </script>
      </div>
    </td>
    <td>
      <input type="submit" id="init_date_submit"
             value="Set Initation Date For All" class="btn btn-secondary"
             onclick="this.value='Applied';
         set_init();
         return false;"/>
    </td>
    <td>
      <input type="submit" value="Download All Roll Book Pages"
             id="download" class="btn btn-primary"
             onclick="this.value='Downloading...';
         download();
         return false;"/>
    </td>
  </tr>
  </table>
    {% render_table roll_table %}
  {% else %}
{% specialspaceless %}
  <form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <input type="hidden" id="chapter" name="chapter" value="{{ user.current_chapter }}">
    <div>
        {{ formset.management_form|crispy }}
    </div>
{% if formset.initial %}
  {% if formset.non_form_errors %}
    <div class="alert alert-block alert-danger">
        {% if formset_error_title %}<h4 class="alert-heading">{{ formset_error_title }}</h4>{% endif %}
        <ul>
            {{ formset.non_form_errors|unordered_list }}
        </ul>
    </div>
  {% endif %}
  <h2> Initiation Form:</h2>
  <table><tr>
    <td>Default date for dates:</td>
    <td>
      <div style="position: relative">
      <input id="default_date" autocomplete="off" class="datepicker" data-toggle="datetimepicker" data-target="#default_date">
      <script type="text/javascript">
              $(function () {
                  $('#default_date').datetimepicker({"format": "M/DD/YYYY"});
              });
          </script>
      </div>
    </td>
    <td>
      <input type="submit" id="default_date_submit"
             value="Apply Date to All" class="btn btn-secondary"
       onclick="this.value='Applied';
         update_dates();
         return false;"/>
    </td>
  </tr>
    <tr>
    <td>
      What ceremony did you use to initiate these members?
    </td>
      <td>
        <select name="initiates-__prefix__-ceremony" class="select form-control" id="id_initiates-__prefix__-ceremony">
          <option value="normal">Normal in-person ceremony</option>
          <option value="extra">In-person extraordinary initiation ceremony</option>
          <option value="remote">Remote extraordinary initiation ceremony</option>
        </select>
      </td>
  </tr>
  <tr>
    <th colspan="3">
      The Roll Column is the new member badge number, the current value is a best guess.
      Please verify the correct member badge/roll number.</th></tr>
  </table>
  <table{% if form_id %} id="{{ form_id }}_table"{% endif%} class="table table-striped table-sm">
        <thead>
                <tr>
                  <th class="requiredField" style="width: 15%">User<span class="asteriskField">*</span></th>
                  <th class="requiredField" style="width: 10%">Initiation Date<span class="asteriskField">*</span></th>
                  <th class="requiredField" style="width: 10%">Graduation Date<span class="asteriskField">*</span></th>
                  <th class="requiredField" style="width: 8%">Roll<span class="asteriskField">*</span></th>
                  <th class="requiredField" style="width: 7%">GPA<span class="asteriskField">*</span></th>
                  <th class="requiredField" style="width: 7%">Test A<span class="asteriskField">*</span></th>
                  <th class="requiredField" style="width: 7%">Test B<span class="asteriskField">*</span></th>
                  <th class="requiredField" style="width: 17%">Badge<span class="asteriskField">*</span></th>
                  <th class="requiredField" style="width: 17%">Guard<span class="asteriskField">*</span></th>
                </tr>
        </thead>
        <tbody>
            <tr class="d-none empty-form">
                {% for field in formset.empty_form %}
                    {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False %}
                {% endfor %}
            </tr>
            {% for form in formset %}
                {% if form_show_errors and not form.is_extra %}
                    {% include "bootstrap4/errors.html" %}
                {% endif %}

                <tr>
                    {% for field in form %}
                      {% if field.label == "Graduation Date" or field.label == "Initiation Date" %}
                        <td>
                        <div style="position: relative">
                          {% crispy_field field %}
                        </div>
                        </td>
                      {% elif field.label == "User" %}
                        <td>
                          {{ field.value }}
                        {% if form_show_errors and field.errors %}
                            {% for error in field.errors %}
                              <strong style="color:red">{{ error }}</strong>
                            {% endfor %}
                        {% endif %}
                        </td>
                      {% else %}
                        {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False %}
                      {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{#  DEPLEDGE TABLE FORM#}
  <div>
      {{ depledge_formset.management_form|crispy }}
    </div>
{% if depledge_formset.initial %}
  {% if depledge_formset.non_form_errors %}
    <div class="alert alert-block alert-danger">
      {% if formset_error_title %}<h4 class="alert-heading">{{ formset_error_title }}</h4>{% endif %}
      <ul>
        {{ depledge_formset.non_form_errors|unordered_list }}
      </ul>
    </div>
  {% endif %}
  <h2> Depledge Form:</h2>
  <table{% if form_id %} id="{{ form_id }}_table"{% endif%} class="table table-striped table-sm">
        <tbody>
            {% for form in depledge_formset %}
              {{ form.media }}
              {% crispy form depledge_helper %}
                {% if form_show_errors and not form.is_extra %}
                    {% include "bootstrap4/errors.html" %}
                {% endif %}
              <hr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
  <input type="submit" value="Submit" class="btn btn-primary">
  </form>
<small>
<p>Additional useful information for chapter Treasurers:
  <ul>
  <li>No order for jewelry will be honored until approved by the Executive Director.</li>
  <li>Approval will be withheld until procedural details have been completed for the entire initiation class.</li>
  <li>Usual delivery time for badges is 4-6 weeks after all procedural details have been completed.</li>
  <li>Jewelry orders received during late spring and summer will be held for delivery until Fall classes resume.</li>
  <li>Pledge Fees ($30 each) are doubled ($60 each) as penalty if not sent within two weeks of pledging</li>
  <li>A single check may cover initiation fees ($75 each) and the cost of jewelry ordered.</li>
  <li>The initiation fee is raised to $100 each if not submitted within 2 weeks of the initiation date.</li>
</ul>
</small>
<div class="container">
  <div class="row">
    <div class="col-md-6">
  <h3>Badge Descriptions:</h3>
  {% render_table badge_table %}
    <small>
    # Guaranteed from defect by the jeweler and engraved with member's last name, chapter, & roll<br>
    * Item normally stocked in the Central Office available for immediate delivery<br>
    @ May be worn by members only<br><br>
    </small>
    </div>
    <div class="col-md-6">
  <h3>Guard Descriptions:</h3>
  {% render_table guard_table %}
    </div>
  </div>
</div>
{% endspecialspaceless %}
  {% endif %}
{% endblock content %}
