{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}

{% block title %}Initiation Report{{ object.name }}{% endblock %}
{% block content %}
{% specialspaceless %}
  <form action="" method="post">
    {% csrf_token %}
    <div>
        {{ formset.management_form|crispy }}
    </div>
{#    {% crispy formset helper %}#}
  <table{% if form_id %} id="{{ form_id }}_table"{% endif%} class="table table-striped table-sm">
        <thead>
            {% if formset.readonly and not formset.queryset.exists %}
            {% else %}
                <tr>
{#                    {% for field in formset.forms.0 %}#}
{#                        {% if field.label and not field|is_checkbox and not field.is_hidden %}#}
                  <th class="requiredField" style="width: 20%">User<span class="asteriskField">*</span></th>
                    <th class="requiredField" style="width: 10%">Date Graduation<span class="asteriskField">*</span></th>
                  <th class="requiredField" style="width: 8%">Roll<span class="asteriskField">*</span></th>
                  <th class="requiredField" style="width: 7%">GPA<span class="asteriskField">*</span></th>
                  <th class="requiredField" style="width: 7%">Test A<span class="asteriskField">*</span></th>
                  <th class="requiredField" style="width: 7%">Test B<span class="asteriskField">*</span></th>
                  <th class="requiredField" style="width: 17%">Badge<span class="asteriskField">*</span></th>
                  <th class="requiredField" style="width: 17%">Guard<span class="asteriskField">*</span></th>
{#                        {% endif %}#}
{#                    {% endfor %}#}
                </tr>
            {% endif %}
        </thead>

        <tbody>
            <tr class="d-none empty-form">
                {% for field in formset.empty_form %}
                    {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False %}
                {% endfor %}
            </tr>

            {% for form in formset %}
                {% if form_show_errors and not form.is_extra %}
                    {% include "bootstrap4/errors.html" %}
                {% endif %}

                <tr>
                    {% for field in form %}
                        {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
  {% include "bootstrap4/inputs.html" %}
  </form>
{% endspecialspaceless %}
{% endblock content %}

