{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}

{% block title %}Initiation Report Selection{{ object.name }}{% endblock %}
{% block content %}
{% specialspaceless %}
  {% if formset.initial_forms %}
    <h1>Please select new members to be initiated:</h1>
    <p>If you will not initiate nor depledge a potential new member listed below at this time, select "Defer".
      This allows you to initiate or depledge them at a later date.</p>
    <form action="" method="post">
      {% csrf_token %}
      <div>{{ formset.management_form|crispy }}</div>
      {% crispy formset helper %}
    </form>
  {% else %}
    <h1>No Prospective New Members</h1>
    <p>Your chapter currently has no prospective new members.<br>
    If this is incorrect, those members should fill out the pledge form ASAP!<br>
    <a href="http://thetatau.org/pledgeform" target="_blank">Pledge Form</a> </p>
  {% endif %}
<h2>Previously submitted forms:</h2>
  All forms below have been submitted to the central office but may not have yet been processed.
<div class="container">
  <div class="row">
    <div class="col-md-3">
  <h3>Pledge Forms:</h3>
      These forms have been processed when you see the PNM listed above.
  {% render_table pledges_table %}
    </div>
    <div class="col-md-4">
  <h3>Initiation Forms:</h3>
      In member list, status will change activepending to active after processing.
  {% render_table init_table %}
    </div>
    <div class="col-md-4">
  <h3>Depledge Forms:</h3>
  {% render_table depledge_table %}
    </div>
  </div>
</div>
{% endspecialspaceless %}
{% endblock content %}

