{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}
{% block title %}Officer Election Report{{ object.name }}{% endblock %}
{% block content %}
  {{ formset.media }}
{% specialspaceless %}
  <h1>Please select members to update role:</h1>
  <form action="" method="post">
    {% csrf_token %}
    <div>{{ formset.management_form|crispy }}</div>
{#    {% crispy formset helper %}#}
    {% if formset.non_form_errors %}
    <div class="alert alert-block alert-danger">
        {% if formset_error_title %}<h4 class="alert-heading">{{ formset_error_title }}</h4>{% endif %}
        <ul>
            {{ formset.non_form_errors|unordered_list }}
        </ul>
    </div>
  {% endif %}
  <table{% if form_id %} id="{{ form_id }}_table"{% endif%} class="table table-striped table-sm">
        <thead>
            {% if formset.readonly and not formset.queryset.exists %}
            {% else %}
                <tr>
                  <th class="requiredField" style="width: 20%">Member<span class="asteriskField">*</span></th>
                  <th class="requiredField" style="width: 30%">New Role<span class="asteriskField">*</span></th>
                  <th class="requiredField" style="width: 15%">Start Date<span class="asteriskField">*</span></th>
                  <th class="requiredField" style="width: 15%">End Date<span class="asteriskField">*</span></th>
                </tr>
            {% endif %}
        </thead>
        <tbody>
            <tr class="d-none empty-form">
                {% for field in formset.empty_form %}
                    {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False %}
                {% endfor %}
            </tr>
            {% for form in formset %}
                {% if form_show_errors and not form.is_extra %}
                    {% include "bootstrap4/errors.html" %}
                {% endif %}
                  <tr>
                      {% for field in form %}
                        {% if field.label == "Start Date" or field.label == "End Date"%}
                          <td>
                          <div style="position: relative">
                            {% crispy_field field %}
                          </div>
                          </td>
                        {% else %}
                          {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False %}
                        {% endif %}
                      {% endfor %}
                        <td>
                          <input class="btn btn-success" type="submit" name="action" value="+">
                        </td>
                  </tr>
            {% endfor %}
        </tbody>
    </table>

    <input type="{{ input.input_type }}"
    name="{% if input.name|wordcount > 1 %}{{ input.name|slugify }}{% else %}{{ input.name }}{% endif %}"
    value="{{ input.value }}"
    {% if input.input_type != "hidden" %}
        class="{{ input.field_classes }}"
        id="{% if input.id %}{{ input.id }}{% else %}{{ input.input_type }}-id-{{ input.name|slugify }}{% endif %}"
    {% endif %}
    {{ input.flat_attrs|safe }}
    />
  </form>
{% endspecialspaceless %}
{% endblock content %}

