{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block head_title %}{% trans "Verify OSM Form" %}{% endblock %}
{% block content %}
  <h1>Verify Form</h1>
  At a regular meeting the following member was elected as {{ chapter }}
  chapter outstanding student member, in accord with the Laws and Customs of Theta Tau.
    <br>
  <p>Outstanding Student Member selected: {{ nominate }}.</p>
  {% render_table table %}
  <hr>
  <form method="POST" enctype="multipart/form-data" class="form">
    {{ form.media }}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% csrf_token %}
      <h5>Please verify:</h5>
    {{ form|crispy }}
    {{ activation.management_form }}
    <button class="primaryAction btn btn-primary" name='action' value='form' type="submit">{% trans "Submit Form" %}</button>
  </form>
{% endblock %}
