{% extends "base.html" %}
{% load static %}

{% block title %}New Member Education Program: {{ object.program.get_term_display }} {{ object.program.year }}{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>New Member Education Program: {{ object.program.get_term_display }} {{ object.program.year }}</h2>
      <table class="table table-hover table-bordered table-striped">
        <tr>
          <th>Chapter</th>
          <td>{{ object.chapter }}</td>
        </tr>
        <tr>
          <th>Program Live Document</th>
          <td><a href="{{ program_link }}">{{ program_link }}</a></td>
        </tr>
        <tr>
          <th>Created</th>
          <td>{{ object.created }}</td>
        </tr>
        <tr>
          <th>Approved</th>
          <td>{{ object.get_approval_display }}</td>
        </tr>
        <tr>
          <th>Comments</th>
          <td>{{ object.approval_comments }}</td>
        </tr>
        <tr>
          <th>Date Start</th>
          <td>{{ object.program.date_start }}</td>
        </tr>
        <tr>
          <th>Date Complete</th>
          <td>{{ object.program.date_complete }}</td>
        </tr>
        <tr>
          <th>Date Initiation</th>
          <td>{{ object.program.date_initiation }}</td>
        </tr>
        <tr>
          <th>Dues</th>
          <td>{{ object.program.dues }}</td>
        </tr>
        <tr>
          <th>Weeks of program</th>
          <td>{{ object.program.weeks }}</td>
        </tr>
        <tr>
          <th>Manual</th>
          <td>{{ object.program.get_manual_display }}</td>
        </tr>
        {% if object.approval == "approved" and object.program.other_manual.name%}
        <tr>
          <th>Approved Program</th>
          <td>
              <a href="{{ object.program.other_manual.url }}" target="_blank">
                {{ object.program.other_manual.name }}</a>
          </td>
        </tr>
        {% endif %}
      </table>
    </div>
  </div>

</div>
{% endblock content %}

