{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "New Member Education Program" %}{% endblock %}
{% block content %}
<div class="jumbotron"><div class="container">
<h2>{% trans "New Member Education Program" %}</h2>
Please update the form below to help us understand where each chapter/candidate chapter is
  at with their New Member Education process.
</div>
</div>
<div {% if current_program %}hidden{% endif %}>
  <form enctype="multipart/form-data" method="POST">
  {{ form.media }}
  {{ form|crispy }}
    {% csrf_token %}
    <button class="primaryAction btn btn-primary" type="submit">{% trans "Submit" %}</button>
  </form>
</div>
<script >
$(function () {
  var value = $('#id_manual').find(":selected")[0].value;
  if (value != 'other') {
    $('.group').hide();
  }
  $('#id_manual').change(function () {
    var value = $('#id_manual').find(":selected")[0].value;
    if (value == 'other'){
      $('#other_manual').show();
    } else {
      $('.group').hide();
    }
  })
});
</script>
{% endblock %}
