{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Pledge Form" %}{% endblock %}
{% block content %}
  <h1>Prospective New Member / Pledge Form</h1>
  <h4><span style="background-color: #FFFF00">Fill out this form only
    AFTER you have an invite from the chapter to do so.</span></h4>
  Complete the form below to begin the membership process
  <hr>
  <p>Each candidate for pledging is obliged to answer all questions on the following
    pages as a formal pledge as given herein.</p>
  <p>The questions in this form are asked to give the candidate information as to
    the aims and ideals of the Fraternity and some knowledge of the obligations
    assumed by reason of membership.</p>
  <p>This form is confidential within the Fraternity.
    To be completed at time of pledging by candidates for student membership.</p>
  {% csrf_token %}
  {% crispy form form.helper %}
  <p>If you have trouble with the Captcha try filling out the alternative form captcha here: <a href="{% url 'forms:pledgeform-alt' %}">cmt.thetatau.org/pledgeform-alt</a></p>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
{# Handle issues with jquery validate of dates https://github.com/johnnyreilly/jquery-validation-globalize #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.6.0/globalize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation-globalize@0.1.1/jquery.validate.globalize.min.js"></script>

<script type="text/javascript">
  $("#submit-id-submit").click(function (event) {
    document.getElementById("submit-id-submit").value = "Submitting...";
    setTimeout(function () {
      document.getElementById("submit-id-submit").setAttribute("disabled", true);
    }, 0);
  })
$("#id_user-school_name").change(function () {
      var url = "{% url 'forms:ajax_load_majors' %}";  // get the url of the `load_majors` view
      var chapterId = $(this).val();  // get the selected chapter ID from the HTML input
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request
        data: {
          'chapter': chapterId       // add the chapter id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_major` view function
          $("#id_user-major").html(data);  // replace the contents of the major input with the data that came from the server
        }
      });
    });
  $(document).ready(function() {
    $('#div_id_pledge-other_college').hide();
    $('#div_id_pledge-explain_expelled_org').hide();
    $('#div_id_pledge-explain_expelled_college').hide();
    $('#div_id_pledge-explain_crime').hide();
    $('#div_id_demographics-gender_write').hide();
    $('#div_id_demographics-sexual_write').hide();
    $('#div_id_demographics-racial_write').hide();
    $('#div_id_demographics-ability_write').hide();
    $('#id_pledge-other_college_choice').on('change', function(){
        var selected_value = $('#id_pledge-other_college_choice').val();
         if(selected_value==="true"){$("#div_id_pledge-other_college").show();}
         else{$("#div_id_pledge-other_college").hide();}
     });
    $('#id_pledge-explain_expelled_org_choice').on('change', function(){
        var selected_value = $('#id_pledge-explain_expelled_org_choice').val();
         if(selected_value==="true"){$("#div_id_pledge-explain_expelled_org").show();}
         else{$("#div_id_pledge-explain_expelled_org").hide();}
     });
    $('#id_pledge-explain_expelled_college_choice').on('change', function(){
        var selected_value = $('#id_pledge-explain_expelled_college_choice').val();
         if(selected_value==="true"){$("#div_id_pledge-explain_expelled_college").show();}
         else{$("#div_id_pledge-explain_expelled_college").hide();}
     });
    $('#id_pledge-explain_crime_choice').on('change', function(){
        var selected_value = $('#id_pledge-explain_crime_choice').val();
         if(selected_value==="true"){$("#div_id_pledge-explain_crime").show();}
         else{$("#div_id_pledge-explain_crime").hide();}
     });
    $('input[name="demographics-gender"]').on('change', function () {
      var selected_values = $('input[name="demographics-gender"]:checked');
      var set = false;
      selected_values.each(function () {
        if ($(this).val() === "not_listed") {
          $("#div_id_demographics-gender_write").show();
          set = true;
        }
      })
      if (set === false) {
        $("#div_id_demographics-gender_write").hide();
      }
    });
    $('input[name="demographics-sexual"]').on('change', function () {
      var selected_values = $('input[name="demographics-sexual"]:checked');
      var set = false;
      selected_values.each(function () {
        if ($(this).val() === "not_listed") {
          $("#div_id_demographics-sexual_write").show();
          set = true;
        }
      })
      if (set === false) {
        $("#div_id_demographics-sexual_write").hide();
      }
    });
    $('input[name="demographics-racial"]').on('change', function () {
      var selected_values = $('input[name="demographics-racial"]:checked');
      var set = false;
      selected_values.each(function(){
        if ($(this).val() === "not_listed") {
          $("#div_id_demographics-racial_write").show();
          set = true;
        }
      })
      if (set === false){
        $("#div_id_demographics-racial_write").hide();
      }
    });
    $('input[name="demographics-ability"]').on('change', function () {
      var selected_values = $('input[name="demographics-ability"]:checked');
      var set = false;
      selected_values.each(function () {
        if ($(this).val() === "not_listed") {
          $("#div_id_demographics-ability_write").show();
          set = true;
        }
      })
      if (set === false) {
        $("#div_id_demographics-ability_write").hide();
      }
    });
    {# https://stackoverflow.com/a/35992958/3166424 #}
    $('.collapse').on('show.bs.collapse', function (e) {
      var $card = $(this).closest('.card');
      var $open = $($(this).data('parent')).find('.collapse.show');
      var additionalOffset = 0;
      if ($card.prevAll().filter($open.closest('.card')).length !== 0) {
        additionalOffset = $open.height();
      }
      $('html,body').animate({
        scrollTop: $card.offset().top - additionalOffset
      }, 500);
    });
    $('form').validate({
      invalidHandler: function(event, validator) {
        if (validator.numberOfInvalids() > 0) {
          validator.showErrors();
          // Open accordion tab with errors
          var index = $(".has-error")
              .closest(".ui-accordion-content")
              .index(".ui-accordion-content");
          $(".accordion").accordion("option", "active", index);
        }
      },
      ignore: [],
    });
  });
</script>
{% endblock %}
