{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}


{% block head_title %}{% trans "Premature Alumnus Request Form" %}{% endblock %}
{% block content %}
  <h1>Premature Alumnus Request Form</h1>
  Complete the form below to submit a premature alumnus request.<br>
  <h3><i>You must include the completed form:</i><br>
  <a href="https://drive.google.com/file/d/15JqPP-Oqny-NAKFlNSPf0jD2FDG6qd5s/view?usp=sharing">
    https://drive.google.com/file/d/15JqPP-Oqny-NAKFlNSPf0jD2FDG6qd5s/view?usp=sharing</a></h3>
  <i>If approved, a ${{ prealumn_charge }} charge will be added to the chapter's next invoice.</i>
  <hr>
  <form method="POST" enctype="multipart/form-data">
    {{ form.media }}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% csrf_token %}
    {{ form|crispy }}
    {{ activation.management_form }}
    <button class="primaryAction btn btn-primary" type="submit">{% trans "Submit Request" %}</button>
  </form>
  <br>
  <h3>Previously submitted Premature Alumnus Request Forms</h3>
  <hr>
    {% render_table table %}
{% endblock %}
