{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}


{% block head_title %}{% trans "Return Student Request Form" %}{% endblock %}
{% block content %}
  <h1>Return Student Request Form</h1>
  Complete the form below to submit a request for return to student member status. <b>This form is only for returning an
  existing member of your chapter to student member status.</b>  If you wish to affiliate an alumni member from another
  Chapter, please contact the Central Office.<br>
  <hr>
  <form method="POST" enctype="multipart/form-data">
    {{ form.media }}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% csrf_token %}
    {{ form|crispy }}
    {{ activation.management_form }}
    <button class="primaryAction btn btn-primary" type="submit">{% trans "Submit Request" %}</button>
  </form>
  <br>
  <h3>Previously submitted Return Student Request Forms</h3>
  <hr>
    {% render_table table %}
{% endblock %}
