{% extends "base.html" %}
{% load static %}

{% block title %}RMP Complete{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Risk Management Policy Signed By: {{ object.user.name }}</h1>
      <table class="table">
        <tr><th>Signed By</th><td>{{ object.user.name}}</td></tr>
        <tr><th>Date Signed</th><td>{{ object.date}}</td></tr>
        <tr><th>Policy on Alcoholic Beverages</th><td>I understand the Policy: {{ object.alcohol}}</td></tr>
        <tr><th>Policy on Hosting an event</th><td>I understand the Policy: {{ object.hosting}}</td></tr>
        <tr><th>Policy on Organizing/Monitoring an event</th><td>I understand the Policy: {{ object.monitoring}}</td></tr>
        <tr><th>Member Responsibilities</th><td>I understand the Policy: {{ object.member}}</td></tr>
        <tr><th>Officer Responsibilities</th><td>I understand the Policy: {{ object.officer}}</td></tr>
        <tr><th>Policy on Abusive Behavior</th><td>I understand the Policy: {{ object.abusive}}</td></tr>
        <tr><th>Policy on Hazing</th><td>I understand the Policy: {{ object.hazing}}</td></tr>
        <tr><th>Policy on Controlled Substances</th><td>I understand the Policy: {{ object.substances}}</td></tr>
        <tr><th>Policy on High‐Risk Events</th><td>I understand the Policy: {{ object.high_risk}}</td></tr>
        <tr><th>Policy on Transportation</th><td>I understand the Policy: {{ object.transportation}}</td></tr>
        <tr><th>Policy on Property Management</th><td>I understand the Policy: {{ object.property_management}}</td></tr>
        <tr><th>Policy on Gun Safety</th><td>I understand the Policy: {{ object.guns}}</td></tr>
        <tr><th>Trademark Policy</th><td>I understand the Policy: {{ object.trademark}}</td></tr>
        <tr><th>Website & Social Media Policy</th><td>I understand the Policy: {{ object.social}}</td></tr>
        <tr><th>Indemnification, Authority, and Signatory Policy</th><td>I understand the Policy: {{ object.indemnification}}</td></tr>
        <tr><th>Photo and Image Release</th><td>I accept the Photo and Image Release: {{ object.photo_release}}</td></tr>
        <tr><th>Arbitration Agreement</th><td>I accept the Arbitration Agreement: {{ object.arbitration}}</td></tr>
        <tr><th>Dues Agreement</th><td>I accept the Dues Agreement: {{ object.dues}}</td></tr>
        <tr><th>Electronic Signature Agreement</th><td>I accept the Electronic Signature Agreement: {{ object.electronic_agreement}}</td></tr>
        <tr><th>Electronic Terms of Service</th><td>I accept the Electronic Terms of Service: {{ object.terms_agreement}}</td></tr>
        <tr>
          <th colspan="2">
            {% if request.user.is_officer is not True %}
              By signing this form, I agree that I have read, understand, agree to abide by and agree to govern my chapter according to the Risk Management Policy, the Photo Release, the Arbitration Agreement and the Dues Agreement.  I further understand and affirm that, should I fail to abide by and/or govern my chapter according to the aforementioned policies, I may be subject to disciplinary action under the Constitution and Policy and Procedures Manual of Theta Tau.
            {% else %}
              By signing this form, I agree that I have read, understand, agree to abide by the Risk Management Policy, the Photo Release, the Arbitration Agreement and the Dues Agreement.  I further understand and affirm that, should I fail to abide by the aforementioned policies, I may be subject to disciplinary action under the Constitution and Policy and Procedures Manual of Theta Tau.
            {% endif %}
          </th>
        </tr>
          <tr>
          <td colspan="2">I agree: {{ object.agreement}}</td>
          </tr>
      </table>
    </div>
  </div>
</div>
{% endblock content %}

