{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}

{% block title %}Member Status Change Report Selection{{ object.name }}{% endblock %}
{% block content %}
  {{ form.media }}
{% specialspaceless %}
  <h1>Please select members to update status:</h1>
  <p>This form is not to be used for members Resigning or Early Alumnus. <br>
    See Policy and Procedures Manual for details on these status:
    <a href="http://thetatau.org/policies">http://thetatau.org/policies</a></p>
  <form action="" method="post">
    {% csrf_token %}
    <div>{{ formset.management_form|crispy }}</div>
    {% if formset.non_form_errors %}
    <div class="alert alert-block alert-danger">
        {% if formset_error_title %}<h4 class="alert-heading">{{ formset_error_title }}</h4>{% endif %}
        <ul>
            {{ formset.non_form_errors|unordered_list }}
        </ul>
    </div>
  {% endif %}
  <table{% if form_id %} id="{{ form_id }}_table"{% endif%} class="table table-striped table-sm">
        <thead>
            {% if formset.readonly and not formset.queryset.exists %}
            {% else %}
                <tr>
                    {% for field in formset.forms.0 %}
                        {% if field.label and not field|is_checkbox and not field.is_hidden %}
                            <th for="{{ field.auto_id }}" class="col-form-label {% if field.field.required %}requiredField{% endif %}">
                                {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                            </th>
                        {% endif %}
                    {% endfor %}
                    <th> Add/Remove </th>
                </tr>
            {% endif %}
        </thead>
        <tbody>
            <tr class="d-none empty-form">
                {% for field in formset.empty_form %}
                    {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False %}
                {% endfor %}
            </tr>

            {% for form in formset %}
              <div class="row form-row spacer">
                {% if form_show_errors and not form.is_extra %}
                    {% include "bootstrap4/errors.html" %}
                {% endif %}
                  <tr>
                      {% for field in form %}
                          {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False %}
                      {% endfor %}
{#                        <td>#}
{#                          <input class="btn btn-success" type="submit" name="action" value="+">#}
{#                        </td>#}
                  </tr>
              </div>
            {% endfor %}
        </tbody>
    </table>

    <input class="btn btn-success" type="submit" name="action" value="Add Row">
    <input type="{{ input.input_type }}"
    name="{% if input.name|wordcount > 1 %}{{ input.name|slugify }}{% else %}{{ input.name }}{% endif %}"
    value="{{ input.value }}"
    {% if input.input_type != "hidden" %}
        class="{{ input.field_classes }}"
        id="{% if input.id %}{{ input.id }}{% else %}{{ input.input_type }}-id-{{ input.name|slugify }}{% endif %}"
    {% endif %}
    {{ input.flat_attrs|safe }}
    />
  </form>
<h2>Previously submitted status forms:</h2>
  All forms below have been submitted to the central office but may not have yet been processed.<br>
  In member list, status will change alumnipending to alumni after processing (and removed from active list.)
{% render_table status_table %}
{% endspecialspaceless %}
{% endblock content %}

