{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}

{% block title %}Member Status Change Report Selection{{ object.name }}{% endblock %}
{% block content %}
{#  <script type='text/javascript'>#}
{#function updateElementIndex(el, prefix, ndx) {#}
{#    var id_regex = new RegExp('(' + prefix + '-\\d+)');#}
{#    var replacement = prefix + '-' + ndx;#}
{#    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));#}
{#    if (el.id) el.id = el.id.replace(id_regex, replacement);#}
{#    if (el.name) el.name = el.name.replace(id_regex, replacement);#}
{#}#}
{#function cloneMore(selector, prefix) {#}
{#    var newElement = $(selector).clone(true);#}
{#    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();#}
{#    newElement.find(':input').each(function() {#}
{#        var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');#}
{#        var id = 'id_' + name;#}
{#        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');#}
{#    });#}
{#    total++;#}
{#    $('#id_' + prefix + '-TOTAL_FORMS').val(total);#}
{#    $(selector).after(newElement);#}
{#    var conditionRow = $('.form-row:not(:last)');#}
{#    conditionRow.find('.btn.add-form-row')#}
{#    .removeClass('btn-success').addClass('btn-danger')#}
{#    .removeClass('add-form-row').addClass('remove-form-row')#}
{#    .html('<span class="fas fa-minus" aria-hidden="true"></span>');#}
{#    return false;#}
{#}#}
{#function deleteForm(prefix, btn) {#}
{#    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());#}
{#    if (total > 1){#}
{#        btn.closest('.form-row').remove();#}
{#        var forms = $('.form-row');#}
{#        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);#}
{#        for (var i=0, formCount=forms.length; i<formCount; i++) {#}
{#            $(forms.get(i)).find(':input').each(function() {#}
{#                updateElementIndex(this, prefix, i);#}
{#            });#}
{#        }#}
{#    }#}
{#    return false;#}
{#}#}
{#$(document).on('click', '.add-form-row', function(e){#}
{#    e.preventDefault();#}
{#    cloneMore('div.input-group', 'form');#}
{#    return false;#}
{#});#}
{#$(document).on('click', '.remove-form-row', function(e){#}
{#    e.preventDefault();#}
{#    deleteForm('form', $(this));#}
{#    return false;#}
{#});#}
{#</script>#}
  {{ form.media }}
{% specialspaceless %}
  <h1>Please select members to update status:</h1>
  <form action="" method="post">
    {% csrf_token %}
    <div>{{ formset.management_form|crispy }}</div>
{#    {% crispy formset helper %}#}
    {% if formset.non_form_errors %}
    <div class="alert alert-block alert-danger">
        {% if formset_error_title %}<h4 class="alert-heading">{{ formset_error_title }}</h4>{% endif %}
        <ul>
            {{ formset.non_form_errors|unordered_list }}
        </ul>
    </div>
  {% endif %}
  <table{% if form_id %} id="{{ form_id }}_table"{% endif%} class="table table-striped table-sm">
        <thead>
            {% if formset.readonly and not formset.queryset.exists %}
            {% else %}
                <tr>
                    {% for field in formset.forms.0 %}
                        {% if field.label and not field|is_checkbox and not field.is_hidden %}
                            <th for="{{ field.auto_id }}" class="col-form-label {% if field.field.required %}requiredField{% endif %}">
                                {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                            </th>
                        {% endif %}
                    {% endfor %}
                    <th> Add/Remove </th>
                </tr>
            {% endif %}
        </thead>
        <tbody>
            <tr class="d-none empty-form">
                {% for field in formset.empty_form %}
                    {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False %}
                {% endfor %}
            </tr>

            {% for form in formset %}
              <div class="row form-row spacer">
                {% if form_show_errors and not form.is_extra %}
                    {% include "bootstrap4/errors.html" %}
                {% endif %}
                  <tr>
{#                    <div class="input-group">#}
                      {% for field in form %}
                          {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False %}
                      {% endfor %}
{#                      <div class="input-group-append">#}
                        <td>
                          <input class="btn btn-success" type="submit" name="action" value="+">
{#                            <button class="btn btn-success add-form-row">+</button>#}
                        </td>
{#                      </div>#}
{#                    </div>#}
                  </tr>
              </div>
            {% endfor %}
        </tbody>
    </table>

    {% include "bootstrap4/inputs.html" %}
  </form>
{% endspecialspaceless %}
{% endblock content %}

