{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load render_table from django_tables2 %}
{% block title %}Gear Article{% endblock %}
{% block content %}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <h1>Gear Article Form</h1>
  <p>A Gear article should be a 250-500 word article with pictures (and captions)
    about an event, major change, or area of growth in your chapter.
    It includes all of the fields below.<br>
    <b>A Gear article is <u>NOT</u> an update on how many pledges / brothers your
      chapter has or on chapter officer changes, and it should not be confused with a newsletter.</b>
    Newsletters are of interest to your chapter and chapter alumni.
    Gear articles are of interest to the national fraternity and alumni from other chapters.</p>
  <form class="article" enctype="multipart/form-data" action="" method="POST">
    {% csrf_token %}
      {{ forms.gear.media }}
      {{ forms.gear.management_form|crispy }}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
      {{ forms.gear|crispy }}
    <h4 id="picture">Add pictures:</h4>
    <p>For each picture, you must include name of person who took the photo as well as a brief description.</p>
    {{ forms.picture.media }}
  <link href="{% static 'css/project.css' %}" rel="stylesheet">
      {% csrf_token %}
      <div>{{ forms.picture.management_form|crispy }}</div>
      <table{% if form_id %} id="{{ form_id }}_table"{% endif %} class="table table-striped table-sm">
        <thead>
        {% if forms.picture.readonly and not forms.picture.queryset.exists %}
        {% else %}
          <tr>
            {% for field in forms.picture.forms.0 %}
              {% if field.label and not field.is_hidden and field.label != "Delete" %}
                <th for="{{ field.auto_id }}"
                    class="col-form-label {% if field.field.required %}requiredField{% endif %}">
                  {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                </th>
              {% endif %}
            {% endfor %}
            <th>Add / <br>Remove</th>
          </tr>
        {% endif %}
        </thead>
        <tbody>
        {% for form in forms.picture %}
          <tr class="row_form">
            <div class="input-group">
              {% for field in form %}
                {% if field.label == "Delete" %}
                  <td class="hidden" style="display: none;">
                    {{ field }}
                  </td>
                {% else %}
                  {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False form_show_errors=True %}
                {% endif %}
              {% endfor %}
              <td>
                <div class="input-group-append">
                  <button class="btn btn-success add-row_form">+</button>
                </div>
              </td>
            </div>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-primary" name='action' value='article' type="submit">Submit</button>
      </div>
    </div>
  </form>
  <hr>
{% endblock content %}
{% block javascript %}
{{ block.super }}
<script src="{% static 'js/dynamic_formset.js' %}"></script>
{% endblock %}
