{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Update Submission: {{ submission.name }}{% endblock %}

{% block content %}
  <h1>Update Submission: {{ submission.name }}</h1>
  <h4>Created By: {{ submission.created_by }} {{ submission.created }}</h4>
  <h4>Last Modified By: {{ submission.modified_by }} {{ submission.modified }}</h4>
    {% if locked %}
    <div class="jumbotron">
        <div class="container">
          <h2>Submission locked</h2>
          If you would like to edit this submission, please contact cmt@thetatau.org
        </div>
      </div>
    {% endif %}
  <form class="form-horizontal" method="post" action="{% url 'submissions:update' submission.id %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn-primary" {% if locked %} disabled {% endif %}>Update</button>
      </div>
    </div>
  </form>
{% endblock %}
