.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

.dropdown-container {
  position: relative;
}

td[complete='False'] {
    background-color: #FFB6C1;
}

.select2-container--default .select2-selection--single {
    height: 45px;
}

td[complete='N/A'] {
    background-color: #A9A9A9;
}

td[complete='True'] {
    background-color: #98FB98;
}

.triangle-down {
	top: 100%;
	left: 50%;
	border: solid transparent;
	position: absolute;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}

/* ===Navigation=== */
.nav > li > a > span {
    font-weight: bold;
}
#NAV, .navbar,  .navbar a:hover{
    background: linear-gradient( #8B0000, #A00000 10%, #8B0000 90%);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #FFCC33;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand{
  color: #FFCC33;
  font-weight: bold;
}
#NAV, .navbar-nav > .nav-item > .active, .nav-link{
  color: #FFCC33;
  font-weight: bold;
}
.navbar, #NAV{
    border: none;
}
.breadcrumb{
    background-color: rgba(255,255,255,0.25);
    margin-bottom: 0px;
}
@media screen and (max-width: 768px){
  .header{
    position: fixed;
    left: -240px;
    top: 0;
    bottom: 0;
    width: 240px;
    height: 100%;
    overflow: auto;
    border-bottom: 0;
    padding-top: 0;
    z-index: 99;
    background: #A11019;
    }
  .hidden-title {
    display: inline;
    color: #FFCC33;
    }
  .dropdown-menu {
  position: absolute;
  top: 100%; /* Bottom of button */
  right: 0;
  background: linear-gradient( #8B0000, #A00000 10%, #8B0000 90%);
    }
}
@media screen and (min-width: 768px){
    .dropdown:hover .dropdown-menu{
        display: block;
    }
  .hidden-title {
    display: none;
    }
  .dropdown-menu {
  position: absolute;
  top: 100%; /* Bottom of button */
  right: 0;
  margin-left: -100px; /* More to the left */
  background: linear-gradient( #8B0000, #A00000 10%, #8B0000 90%);
    }
}

/* ===Page Title=== */
#PageTitleH1{
    margin-top: 0px;
    padding-top: 5px;
}
@media screen and (max-width: 767px){
    #PageTitleH1, h2{
        text-align: center !important;
    }
}
.SloganText {
  color: #8B0000;
  margin-left: 15px;
  vertical-align: middle;
}

.inline {
    display: inline-block;
}

.est {
    width: 94px;
    height: 107px;
    position: absolute;
    /*top: -105px;*/
    left: 50%;
    margin-left: -47px;
}
.footer {
  padding: 50px 0 0;
  min-height: 275px;
  position: relative;
  top: 105px;
}

.form-control {
  padding: .5rem .25rem;
}
