{% extends "admin/base_site.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
          crossorigin="anonymous"></script>
  {{ form.media }}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
      File must be CSV with columns and headers "email,correct"<br>
      Where each of the emails is the member's email matching exactly.<br>
      And the correct is the badge number, the number only.
    </p>
    {{ form | crispy }}
    <input type="hidden" name="action" value="badge_fix"/>
    <input type="submit" name="apply" value="Process Badge Changes"/>
  </form>
{% endblock %}
