{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}
{% block title %}Note: {{ object.title }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.title }}</h2>
      <form class="note" method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {{ forms.note.management_form|crispy }}
        {{ forms.note.media }}
        <link href="{% static 'css/project.css' %}" rel="stylesheet">
        {{ forms.note|crispy }}
      </form>
      <h4 id="actions">Add subnotes:</h4>
      {{ forms.subnotes.media }}
      <form action="" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div>{{ forms.subnotes.management_form|crispy }}</div>
        <table{% if form_id %} id="{{ form_id }}_table"{% endif %} class="table table-striped table-sm">
          <thead></thead>
          <tbody>
          {% for form in forms.subnotes %}
            <tr class="row_form">
              <div class="input-group">
              <td>
                <table>
                  <thead>
                  {% if forms.subnotes.readonly and not forms.subnotes.queryset.exists %}
                  {% else %}
                    <tr>
                      {% for field in forms.subnotes.forms.0 %}
                        {% if field.label and not field.is_hidden and field.label != "Delete" and field.label != "Note" %}
                          <th for="{{ field.auto_id }}"
                              class="col-form-label {% if field.field.required %}requiredField{% endif %}">
                            {{ field.label|safe }}{% if field.field.required %}
                              <span class="asteriskField">*</span>{% endif %}
                          </th>
                        {% endif %}
                      {% endfor %}
                      <th>Add / <br>Remove</th>
                    </tr>
                  {% endif %}
                  </thead>
                  <tbody>
                    <tr>
                      {% for field in form %}
                        {% if field.label == "Delete" %}
                          <td class="hidden" style="display: none;">
                            {{ field }}
                          </td>
                        {% elif field.label == "Note" %}
                        {% else %}
                          {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False form_show_errors=True %}
                        {% endif %}
                      {% endfor %}
                      <td>
                        <div class="input-group-append">
                          <button class="btn btn-success add-row_form">+</button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                    {% for field in form %}
                      {% if field.label == "Note" %}
                        {% include 'bootstrap4/field.html' with tag='td colspan="4"' form_show_labels=False form_show_errors=True %}
                      {% endif %}
                    {% endfor %}
                  </tr>
                  </tbody>
                </table>
              </td>
              </div>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <button class="btn btn-primary" name='action' value='subnotes' type="submit">Update Subnotes</button>
      </form>
    </div>
  </div>

</div>
{% endblock content %}
{% block javascript %}
{{ block.super }}
  <script src="{% static 'js/dynamic_formset.js' %}"></script>
{% endblock %}
